<a href="https://www.kaggle.com/code/youssef19/python-code-optimization-for-data-scientists?scriptVersionId=155858134" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

# <center style="font-family: consolas; font-size: 32px; font-weight: bold;">  Write Efficient Python Code: Python Code Optimization for Data Scientists </center>
​
***

As a data scientist, your primary focus is extracting valuable insights from data, not idly waiting for code execution. The key to maximizing your impact lies in crafting efficient Python code that minimizes runtime and optimizes computational resources. In this comprehensive notebook, we embark on a journey to eliminate bottlenecks and rectify suboptimal design patterns, leveraging the prowess of Python's most revered libraries for data scientists: NumPy and pandas.

Discover how to transform your coding practices, streamline your workflow, and reclaim precious time for tasks that truly drive innovation. By delving into real-world examples and practical exercises, we'll navigate the intricacies of NumPy and pandas, empowering you to write code that not only runs faster but also unlocks the full potential of your data science endeavors.

Let's embark on this exploration together, unraveling the secrets of efficient Python coding and transforming the way you interact with data.

#### <a id="top"></a>
# <div style="box-shadow: rgb(60, 121, 245) 0px 0px 0px 3px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px; padding:20px; margin-right: 40px; font-size:30px; font-family: consolas; text-align:center; display:fill; border-radius:15px; color:rgb(60, 121, 245);"><b>Table of Contents</b></div>

**1. Making Your Code Efficient**

    1.1. Efficiently Combining, Counting, and Iterating

    1.2. Introduction to The Set Theory 

    1.3. Eliminating Loops

    1.4. Writing Better Loops
    

**2. Introduction to Pandas Optimization**

    2.1. Pandas DataFrame Iteration
    
    2.2. Pandas Alternative to Looping

    2.3. Optimal Pandas Iterating

# 1. Make Your Code Efficient

In this section, we will cover more efficiency tips and tricks. You will learn a few useful built-in modules for writing efficient code and practice using set theory. You'll then learn about looping patterns in Python and how to make them  more efficient.

## 1.1. Efficiently Combining, Counting, and Iterating

### Combining Objects

In this subsection, we'll cover combining, counting, and iterating over objects efficiently in python. Suppose we have two lists: one of the names and the other is the age for each of them. We want to combine these lists so that each name is stored next to its age. We can iterate over the names list using enumerate and grab each name's corresponding age using the index variable.

In [1]:
# combining objects 
names = ['Tauqeer', 'Javaid', 'Mohammed']
age = [25, 27, 40]
combined = []

for i,name in enumerate(names):
    combined.append((name, age[i]))
print(combined)

[('Ahmed', 25), ('Youssef', 27), ('Mohammed', 40)]

But Python's built-in function zip provides a more elegant solution. The name "zip" describes how this function combines objects like a zipper on a jacket (making two separate things become one). zip returns a zip object that must be unpacked into a list and printed to see the contents. Each item is a tuple of elements from the original lists.

In [2]:
# Combining objects with zip
combined_zip = zip(names, age)
print(type(combined_zip))

<class 'zip'>

In [3]:
combined_zip_list = [*combined_zip]
print(combined_zip_list)

[('Ahmed', 25), ('Youssef', 27), ('Mohammed', 40)]

### Counting Objects

Let's dig deeper into the Counter object. First, we will upload the pokemon dataset and print the first five rows of it then we will count the number of pokemon per each type using for loop and then using the Counter function.

Let's load the pokemon dataset and print the first five rows:

In [4]:
import pandas as pd
pokemon = pd.read_csv('../input/pokemon-dataset/pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Now we will count the number of pokemon per each type using loops and calculate the execution time:

In [5]:
%%timeit -r1 -n1
# Counting with for loop
poke_types = pokemon['Type 1']
type_counts = {}
for poke_type in poke_types:
    if poke_type not in type_counts:
        type_counts[poke_type] = 1
    else:
        type_counts[poke_type] += 1
print(type_counts)

{'Grass': 70, 'Fire': 52, 'Water': 112, 'Bug': 69, 'Normal': 98, 'Poison': 28, 'Electric': 44, 'Ground': 32, 'Fairy': 17, 'Fighting': 27, 'Psychic': 57, 'Rock': 44, 'Ghost': 32, 'Ice': 24, 'Dragon': 32, 'Dark': 31, 'Steel': 27, 'Flying': 4}
4.06 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

Finally, we will count the number of pokemon per each type using the Counter function and compare the time:

In [6]:
%%timeit -r1 -n1

# counting with collections.Counter()
from collections import Counter
poke_types = pokemon['Type 1']

type_counts = Counter(poke_types)
print(type_counts)

Counter({'Water': 112, 'Normal': 98, 'Grass': 70, 'Bug': 69, 'Psychic': 57, 'Fire': 52, 'Electric': 44, 'Rock': 44, 'Ground': 32, 'Ghost': 32, 'Dragon': 32, 'Dark': 31, 'Poison': 28, 'Fighting': 27, 'Steel': 27, 'Ice': 24, 'Fairy': 17, 'Flying': 4})
543 µs ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

We can see that using the Counter function from the collections module is a more efficient approach. Just import Counter and provide the object to be counted. No need for a loop! Counter returns a Counter dictionary of key-value pairs. When printed, it's ordered by highest to lowest counts. If comparing runtime times, we'd see that using Counter takes less time compared to the standard dictionary approach!

## itertools

Another built-in module, itertools, contains functional tools for working with iterators. A subset of these tools is:
* Infinite iterators: count, cycle, repeat
* Finite iterators: accumulate, chain, zip_longest, etc.
* Combination generators: product, permutations, combinations

We will focus on combinatoric generators. These generators efficiently yield Cartesian products, permutations, and combinations of objects. Let's explore an example.

### Combinations

Suppose we want to gather all combination pairs of Pokémon types possible. We can do this with a nested for loop that iterates over the poke_types list twice. Notice that a conditional statement is used to skip pairs having the same type twice. For example, if x is 'Bug' and y is 'Bug', we want to skip this pair. Since we're interested in combinations (where order doesn't matter), another statement is used to ensure either order of the pair doesn't already exist within the combos list before appending it. For example, the pair ('Bug', 'Fire') is the same as the pair ('Fire', 'Bug'). We want one of these pairs, not both.

In [7]:
#Combinations with loop

poke_types = ['Bug', 'Fire', 'Ghost', 'Grass', 'Water']
combos = []
for x in poke_types:
    for y in poke_types:
        if x == y:
            continue
        if ((x,y) not in combos) & ((y,x) not in combos):
            combos.append((x,y))
print(combos)

[('Bug', 'Fire'), ('Bug', 'Ghost'), ('Bug', 'Grass'), ('Bug', 'Water'), ('Fire', 'Ghost'), ('Fire', 'Grass'), ('Fire', 'Water'), ('Ghost', 'Grass'), ('Ghost', 'Water'), ('Grass', 'Water')]

The combinations generator from itertools provides a more efficient solution. First, we import combinations and then create a combinations object by providing the poke_types list and the length of combinations we desire. Combinations return a combinations object, which we unpack into a list and print to see the result. If comparing runtimes, we'd see using combinations is significantly faster than the nested loop.

In [8]:
# combinations with itertools
poke_types = ['Bug', 'Fire', 'Ghost', 'Grass', 'Water']
from itertools import combinations
combos_obj = combinations(poke_types, 2)
print(type(combos_obj))

combos = [*combos_obj]
print(combos)

<class 'itertools.combinations'>
[('Bug', 'Fire'), ('Bug', 'Ghost'), ('Bug', 'Grass'), ('Bug', 'Water'), ('Fire', 'Ghost'), ('Fire', 'Grass'), ('Fire', 'Water'), ('Ghost', 'Grass'), ('Ghost', 'Water'), ('Grass', 'Water')]

## 1.2. Introduction to The Set Theory

Often, we'd like to compare two objects to observe similarities and differences between their contents. When doing this type of comparison, it's best to leverage a branch of mathematics called the set theory. As you know, Python comes with a built-in set data type. Sets come with some handy methods we can use for comparing such as:
* intersection() : all elements that are in both sets
* difference(): all elements in one set but not the other
* symmetric_difference(): all elements in exactly one set
* union(): all elements that are in either set

When we'd like to compare objects multiple times and in different ways, we should consider storing our data in sets to use these efficient methods. Another nice feature of Python sets is their ability to quickly check if a value exists within its members. We call this membership testing using the in operator. We will go through how using  the in operator with a set is much faster than using it with a list or tuple.

Suppose we had two lists of Pokémon names: list_a and list_b and we would like to compare these lists to see which Pokémon appear in both lists. We could first use a nested for loop to compare each item in list_a to each item in list_b and collect only those items that appear in both lists. But, iterating over each item in both lists is extremely inefficient.

In [9]:
# Comparing objects with loops
list_a = ['Bulbasaur', 'Charmander', 'Squirtle']
list_b = ['Caterpie', 'Pidgey', 'Squirtle']

in_common = []
for pokemon_a in list_a:
    for pokemon_b in list_b:
        if pokemon_a == pokemon_b:
            in_common.append(pokemon_a)
print(in_common)

['Squirtle']

However, a better way is to use Python's set data type to compare these lists. By converting each list into a set, we can use the dot-intersection method to collect the Pokémon shared between the two sets. One simple line of code and no need for a loop!

In [10]:
# compaing objects using intersection()

list_a = ['Bulbasaur', 'Charmander', 'Squirtle']
list_b = ['Caterpie', 'Pidgey', 'Squirtle']
set_a = set(list_a)
set_b = set(list_b)
set_a.intersection(set_b)

{'Squirtle'}

We got the same answer with a much less number of code lines we can also compare the runtime to see how much using sets is much faster than using loops.

Compare the runtime between using sets and using for loops

In [11]:
%%timeit
in_common = []
for pokemon_a in list_a:
    for pokemon_b in list_b:
        if pokemon_a == pokemon_b:
            in_common.append(pokemon_a)

1.19 µs ± 8.63 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [12]:
%timeit in_common = set_a.intersection(set_b)

269 ns ± 6.56 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

We can see that using sets is much faster than using for loops. We can also use a set method to see Pokémon that exist in one set but not in another. To gather Pokémon that exist in set_a but not in set_b, use set_a.difference(set_b).

In [13]:
set_a = {'Bulbasaur', 'Charmander', 'Squirtle'}
set_b = {'Caterpie', 'Pidgey', 'Squirtle'}
set_a.difference(set_b)

{'Bulbasaur', 'Charmander'}

If we want the Pokémon in set_b, but not in set_a, we use set_b.difference(set_a).

In [14]:
set_a = {'Bulbasaur', 'Charmander', 'Squirtle'}
set_b = {'Caterpie', 'Pidgey', 'Squirtle'}
set_b.difference(set_a)

{'Caterpie', 'Pidgey'}

To collect Pokémon that exist in exactly one of the sets (but not both), we can use a method called the symmetric difference.

In [15]:
set_a = {'Bulbasaur', 'Charmander', 'Squirtle'}
set_b = {'Caterpie', 'Pidgey', 'Squirtle'}
set_a.symmetric_difference(set_b)

{'Bulbasaur', 'Caterpie', 'Charmander', 'Pidgey'}

Finally, we can combine these sets using the .union method. This collects all of the unique Pokémon that appear in either or both sets.

In [16]:
set_a = {'Bulbasaur', 'Charmander', 'Squirtle'}
set_b = {'Caterpie', 'Pidgey', 'Squirtle'}
set_a.union(set_b)

{'Bulbasaur', 'Caterpie', 'Charmander', 'Pidgey', 'Squirtle'}

Another nice efficiency gain when using sets is the ability to quickly check if a specific item is a member of a set's elements. Consider our collection of 720 Pokémon names stored as a list, tuple, and set.

In [17]:
names_list = list(pokemon['Name'])
names_set = set(pokemon['Name'])
names_tuple = tuple(pokemon['Name'])

We want to check whether or not the character, Zubat, is in each of these data structures and print the execution time for each data type:

In [18]:
%timeit 'Zubat' in names_list
%timeit 'Zubat' in names_tuple
%timeit 'Zubat' in names_set

864 ns ± 12.7 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
678 ns ± 4.83 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
60.7 ns ± 0.707 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

**When comparing runtimes, it's clear that membership testing with a set is significantly faster than a list or a tuple.**

One final efficiency gain when using sets comes from the definition of the set itself. A set is defined as a collection of distinct elements. Thus, we can use a set to collect unique items from an existing object. Let's define a primary_types list, which contains the primary types of each Pokémon. If we wanted to collect the unique Pokémon types within this list, we could write a for loop to iterate over the list, and only append the Pokémon types that haven't already been added to the unique_types list.

In [19]:
primary_types = list(pokemon['Type 1'])
unique_types = []
for prim_type in primary_types:
    if prim_type not in unique_types:
        unique_types.append(prim_type)
print(unique_types)

['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric', 'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice', 'Dragon', 'Dark', 'Steel', 'Flying']

Using a set makes this much easier. All we have to do is convert the primary_types list into a set, and we have our solution: a set of distinct Pokémon types.

In [20]:
unique_types_set = set(primary_types)
print(unique_types_set)

{'Ground', 'Normal', 'Fire', 'Electric', 'Ice', 'Grass', 'Bug', 'Steel', 'Poison', 'Rock', 'Dark', 'Ghost', 'Dragon', 'Fighting', 'Fairy', 'Psychic', 'Flying', 'Water'}

### 1.3. Eliminating Loops

Although using loops when writing Python code isn't necessarily a bad design pattern, using extraneous loops can be inefficient and costly. Let's explore some tools that can help us eliminate the need to use loops in our code. Python comes with a few looping patterns that can be used when we want to iterate over an object's contents:

* For loops iterate over elements of a sequence piece-by-piece. 
* While loops execute a loop repeatedly as long as some Boolean condition is met. 
* Nested loops use multiple loops inside one another.

Although all of these looping patterns are supported by Python, we should be careful when using them. Because most loops are evaluated in a piece-by-piece manner, they are often inefficient solutions.

We should try to avoid looping as much as possible when writing efficient code. Eliminating loops usually results in fewer lines of code that are easier to interpret. One of the idioms of pythonic code is that  "flat is better than nested." Striving to eliminate loops in our code will help us follow this idiom.

Suppose we have a list of lists, called poke_stats, that contains statistical values for each Pokémon. Each row corresponds to a Pokémon, and each column corresponds to a Pokémon's specific statistical value. Here, the columns represent a Pokémon's Health Points, Attack, Defense, and Speed. We want to do a simple sum of each of these rows in order to collect the total stats for each Pokémon. If we were to use a loop to calculate row sums, we would have to iterate over each row and append the row's sum to the totals list. We can accomplish the same task, in fewer lines of code, with a list comprehension. Or, we could use the built-in map function that we've discussed previously in the previous article.

In [21]:
# List of HP, Attack, Defense, Speed
poke_stats = [
[90, 92, 75, 60],
[25, 20, 15, 90],
[65, 130, 60, 75],
]

In [22]:
%%timeit
totals = []
for row in poke_stats:
    totals.append(sum(row))

953 ns ± 6.6 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [23]:
%timeit totals_comp = [sum(row) for row in poke_stats]

956 ns ± 9.66 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [24]:
%timeit totals_map = [*map(sum, poke_stats)]

790 ns ± 7.06 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

Each of these approaches will return the same list, but using a list comprehension or the map function takes one line of code, and has a faster runtime.

We've also covered a few built-in modules that can help us eliminate loops in the previous article. Instead of using the nested for loop, we can use combinations from the itertools module for a cleaner, more efficient solution.

In [25]:
poke_types = ['Bug', 'Fire', 'Ghost', 'Grass', 'Water']

# Nested for loop approach
combos = []
for x in poke_types:
    for y in poke_types:
        if x == y:
            continue
    if ((x,y) not in combos) & ((y,x) not in combos):
        combos.append((x,y))

In [26]:
# Built-in module approach
from itertools import combinations
combos2 = [*combinations(poke_types, 2)]

Another powerful technique for eliminating loops is to use the NumPy package. Suppose we had the same collection of statistics we used in a previous example but stored in a NumPy array instead of a list of lists.

We'd like to collect the average stat value for each Pokémon (or row) in our array. We could use a loop to iterate over the array and collect the row averages.

### Eliminate loops with NumPy

But, NumPy arrays allow us to perform calculations on entire arrays all at once. Here, we use the dot-mean method and specify an axis equal to 1 to calculate the mean for each row (meaning we calculate an average across the column values). This eliminates the need for a loop and is much more efficient.

In [27]:
import numpy as np

poke_stats = np.array([
[90, 92, 75, 60],
[25, 20, 15, 90],
[65, 130, 60, 75],])

In [28]:
avgs = []
for row in poke_stats:
    avg = np.mean(row)
    avgs.append(avg)
print(avgs)

[79.25, 37.5, 82.5]

In [29]:
avgs_np = poke_stats.mean(axis=1)
print(avgs_np)

[79.25 37.5  82.5 ]

In [30]:
%%timeit
avgs = []
for row in poke_stats:
    avg = np.mean(row)
    avgs.append(avg)

43.7 µs ± 355 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [31]:
%timeit avgs = poke_stats.mean(axis=1)

13.7 µs ± 219 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

When comparing runtimes, we see that using the dot-mean method on the entire array and specifying an axis is significantly faster than using a loop.

### 1.4. Writing Better Loops

We've discussed how loops can be costly and inefficient. But, sometimes you can't eliminate a loop. In this section, we'll explore how to make loops more efficient when looping is unavoidable. Before diving in, some of the loops we'll discuss can be eliminated using techniques covered in previous lessons. For demonstrative purposes, we'll assume the use cases shown here are instances where a loop is unavoidable.

The best way to make a loop more efficient is to analyze what's being done within the loop. We want to make sure that we aren't doing unnecessary work in each iteration. If a calculation is performed for each iteration of a loop, but its value doesn't change with each iteration, it's best to move this calculation outside (or above) the loop. If a loop is converting data types with each iteration, it's possible that this conversion can be done outside (or below) the loop using a map function. Anything that can be done once should be moved outside of a loop. Let's explore a few examples.

### Moving calculations above a loop

We have a list of Pokémon names and an array of each Pokémon's corresponding attack value. We'd like to print the names of each Pokémon with an attack value greater than the average of all attack values. To do this, we'll use a loop that iterates over each Pokémon and its attack value. For each iteration, the total attack average is calculated by finding the mean value of all attacks. Then, each Pokémon's attack value is evaluated to see if it exceeds the total average.

In [32]:
import numpy as np

names = ['Absol', 'Aron', 'Jynx', 'Natu', 'Onix']
attacks = np.array([130, 70, 50, 50, 45])

for pokemon,attack in zip(names, attacks):
    total_attack_avg = attacks.mean()
    if attack > total_attack_avg:
        print(
            "{}'s attack: {} > average: {}!"
            .format(pokemon, attack, total_attack_avg)
        )

Absol's attack: 130 > average: 69.0!
Aron's attack: 70 > average: 69.0!

The inefficiency in this loop is the total_attack_avg variable being created with each iteration of the loop. But, this calculation doesn't change between iterations since it is an overall average. We only need to calculate this value once. By moving this calculation outside (or above) the loop, we calculate the total attack average only once. We get the same output, but this is a more efficient approach.

In [33]:
import numpy as np

names = ['Absol', 'Aron', 'Jynx', 'Natu', 'Onix']
attacks = np.array([130, 70, 50, 50, 45])

# Calculate total average once (outside the loop)
total_attack_avg = attacks.mean()

for pokemon,attack in zip(names, attacks):
    if attack > total_attack_avg:
        print(
            "{}'s attack: {} > average: {}!"
            .format(pokemon, attack, total_attack_avg)
        )

Absol's attack: 130 > average: 69.0!
Aron's attack: 70 > average: 69.0!

Let's compare the runtimes of both methods:

In [34]:
import time

# get the start time
st = time.time()


names = ['Absol', 'Aron', 'Jynx', 'Natu', 'Onix']
attacks = np.array([130, 70, 50, 50, 45])

for pokemon,attack in zip(names, attacks):
    total_attack_avg = attacks.mean()
    if attack > total_attack_avg:
        print(
            "{}'s attack: {} > average: {}!"
            .format(pokemon, attack, total_attack_avg)
        )    
        
        
# get the end time
et = time.time()

# get the execution time
elapsed_time = et - st
print('Execution time:', elapsed_time, 'seconds')

Absol's attack: 130 > average: 69.0!
Aron's attack: 70 > average: 69.0!
Execution time: 0.0005266666412353516 seconds

In [35]:
import time

# get the start time
st = time.time()


# Calculate total average once (outside the loop)
total_attack_avg = attacks.mean()
for pokemon,attack in zip(names, attacks):
    if attack > total_attack_avg:
        print(
            "{}'s attack: {} > average: {}!"
            .format(pokemon, attack, total_attack_avg)
        )
        
# get the end time
et = time.time()

# get the execution time
elapsed_time = et - st
print('Execution time:', elapsed_time, 'seconds')

Absol's attack: 130 > average: 69.0!
Aron's attack: 70 > average: 69.0!
Execution time: 0.0003592967987060547 seconds

We see that keeping the total_attack_avg calculation within the loop takes more than 120 microseconds.

### Using holistic conversions

Another way to make loops more efficient is to use holistic conversions outside (or below) the loop. In the example below we have three lists from the 720 Pokémon dataset: a list of each Pokémon's name, a list corresponding to whether or not a Pokémon has a legendary status, and a list of each Pokémon's generation. We want to combine these objects so that each name, status, and generation is stored in an individual list. To do this, we'll use a loop that iterates over the output of the zip function. Remember, zip returns a collection of tuples, so we need to convert each tuple into a list since we want to create a list of lists as our output. Then, we append each individual poke_list to our poke_data output variable. By printing the result, we see our desired list of lists.

In [36]:
pokemon = pd.read_csv('../input/pokemon-dataset/pokemon.csv')

names_list = pokemon['Name']
legend_status_list = pokemon['Legendary']
generations_list = pokemon['Generation']

In [37]:
%%timeit -r1 -n1
poke_data = []
for poke_tuple in zip(names_list, legend_status_list, generations_list):
    poke_list = list(poke_tuple)
    poke_data.append(poke_list)

802 µs ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

However, converting each tuple to a list within the loop is not very efficient. Instead, we should collect all of our poke_tuples together, and use the map function to convert each tuple to a list. The loop no longer converts tuples to lists with each iteration. Instead, we moved this tuple to list conversion outside (or below) the loop. That way, we convert data types all at once (or holistically) rather than converting in each iteration.

In [38]:
%%timeit -r1 -n1
poke_data_tuples = []
for poke_tuple in zip(names_list, legend_status_list, generations_list):
    poke_data_tuples.append(poke_tuple)
    poke_data = [*map(list, poke_data_tuples)]

60.8 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

Runtimes show that converting each tuple to a list outside of the loop is more efficient.

# 2. Pandas Optimization

## 2.1. Pandas DataFrame Iteration

Pandas is a library used for data analysis. The main construct of pandas is the DataFrame, a tabular data structure with labeled rows and columns. We will focus on the best approaches for iterating over a DataFrame. Let's begin by analyzing a Major League Baseball dataset. It contains the team stats for each Major League Baseball team from the year 1962 to 2012, which are stored in a pandas DataFrame named baseball_df.

In [39]:
import pandas as pd
baseball_df = pd.read_csv('../input/baseball-stats/baseball_stats.csv')
baseball_df.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424

We will focus on the W column, which specifies the number of wins a team had in a season and the G column which contains the number of games a team played in a season.

### Calculating & Adding win percentage

One popular statistic used to evaluate a team's performance for a given season is the team's win percentage. This metric is calculated by dividing a team's total wins by the number of games played. Here is a simple function to perform this calculation.

In [40]:
def calc_win_perc(wins, games_played):
    win_perc = wins / games_played
    return np.round(win_perc,2)

Now we would like to create a new column in our baseball_df DataFrame that stores each team's win percentage for a season. To do this, we'll need to iterate over the DataFrame's rows and apply our calc_win_perc function. First, we create an empty win_perc_list to store all the win percentages we'll calculate. Then, we write a loop that will iterate over each row of the DataFrame. Notice that we are using an index variable (i) that ranges from zero to the number of rows that exist within the DataFrame. We then use the .iloc method to look up each individual row within the DataFrame using the index variable.

Then we grab each team's wins and games played by referencing the W and G columns. Next, we pass the team's wins and games played to calc_win_perc to calculate the win percentages. Finally, we append win_perc to win_perc_list and continue the loop. We create our desired column in the DataFrame, called WP, by setting the column value equal to the win_perc_list.

In [41]:
%%timeit
win_perc_list = []
for i in range(len(baseball_df)):
    row = baseball_df.iloc[i]
    wins = row['W']
    games_played = row['G']
    win_perc = calc_win_perc(wins, games_played)
    win_perc_list.append(win_perc)
baseball_df['WP'] = win_perc_list

baseball_df.head()

260 ms ± 2.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

Looping over the DataFrame with .iloc gave us our desired output, but is it inefficient. When estimating the runtime, the .iloc approach took 660 milliseconds, which is pretty inefficient.

### Iterating with .iterrows()

pandas come with a few efficient methods for looping over a DataFrame. The first method we'll cover is the .iterrows method. This is similar to the .iloc method, but .iterrows returns each DataFrame row as a tuple of (index, pandas Series) pairs. This means each object returned from .iterrows contains the index of each row as the first element and the data in each row as a pandas Series as the second element.

Notice that we still create the empty win_perc_list, but now we don't have to create an index variable to look up each row within the DataFrame. .iterrows handles the indexing for us! The remainder of the for loop stays the same to create a new win percentage column within our baseball_df DataFrame.

In [42]:
%%timeit
win_perc_list = []
for i,row in baseball_df.iterrows():
    wins = row['W']
    games_played = row['G']

    win_perc = calc_win_perc(wins, games_played)
    win_perc_list.append(win_perc)

baseball_df['WP'] = win_perc_list

108 ms ± 2.46 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

Using .iterrows takes roughly half the time .iloc takes to iterate over our DataFrame.

### Iterating with .itertuples()

Pandas also come with another iteration method called .itertuples which is often more efficient than .iterrows. Let's continue using our baseball dataset to compare these two methods. Suppose we have a pandas DataFrame called team_wins_df that contains each team's total wins in a season.

If we use .iterrows to loop over our team_wins_df DataFrame and print each row's tuple, we see that each row's values are stored as a pandas Series. Remember, .iterrows returns each DataFrame row as a tuple of (index, pandas Series) pairs, so we have to access the row's values with square bracket indexing.

But, we could use .itertuples to loop over our DataFrame rows instead. The .itertuples method returns each DataFrame row as a special data type called a namedtuple. A namedtuple is one of the specialized data types that exist within the collections module we've discussed previously. These data types behave just like a Python tuple but have fields accessible using attribute lookup.

In [43]:
team_wins_df = baseball_df[['Team','Year','W']]
for row_namedtuple in team_wins_df.itertuples():
    print(row_namedtuple)

Pandas(Index=0, Team='ARI', Year=2012, W=81)
Pandas(Index=1, Team='ATL', Year=2012, W=94)
Pandas(Index=2, Team='BAL', Year=2012, W=93)
Pandas(Index=3, Team='BOS', Year=2012, W=69)
Pandas(Index=4, Team='CHC', Year=2012, W=61)
Pandas(Index=5, Team='CHW', Year=2012, W=85)
Pandas(Index=6, Team='CIN', Year=2012, W=97)
Pandas(Index=7, Team='CLE', Year=2012, W=68)
Pandas(Index=8, Team='COL', Year=2012, W=64)
Pandas(Index=9, Team='DET', Year=2012, W=88)
Pandas(Index=10, Team='HOU', Year=2012, W=55)
Pandas(Index=11, Team='KCR', Year=2012, W=72)
Pandas(Index=12, Team='LAA', Year=2012, W=89)
Pandas(Index=13, Team='LAD', Year=2012, W=86)
Pandas(Index=14, Team='MIA', Year=2012, W=69)
Pandas(Index=15, Team='MIL', Year=2012, W=83)
Pandas(Index=16, Team='MIN', Year=2012, W=66)
Pandas(Index=17, Team='NYM', Year=2012, W=74)
Pandas(Index=18, Team='NYY', Year=2012, W=95)
Pandas(Index=19, Team='OAK', Year=2012, W=94)
Pandas(Index=20, Team='PHI', Year=2012, W=81)
Pandas(Index=21, Team='PIT', Year=2012, W=79)
Pandas(Index=22, Team='SDP', Year=2012, W=76)
Pandas(Index=23, Team='SEA', Year=2012, W=75)
Pandas(Index=24, Team='SFG', Year=2012, W=94)
Pandas(Index=25, Team='STL', Year=2012, W=88)
Pandas(Index=26, Team='TBR', Year=2012, W=90)
Pandas(Index=27, Team='TEX', Year=2012, W=93)
Pandas(Index=28, Team='TOR', Year=2012, W=73)
Pandas(Index=29, Team='WSN', Year=2012, W=98)
Pandas(Index=30, Team='ARI', Year=2011, W=94)
Pandas(Index=31, Team='ATL', Year=2011, W=89)
Pandas(Index=32, Team='BAL', Year=2011, W=69)
Pandas(Index=33, Team='BOS', Year=2011, W=90)
Pandas(Index=34, Team='CHC', Year=2011, W=71)
Pandas(Index=35, Team='CHW', Year=2011, W=79)
Pandas(Index=36, Team='CIN', Year=2011, W=79)
Pandas(Index=37, Team='CLE', Year=2011, W=80)
Pandas(Index=38, Team='COL', Year=2011, W=73)
Pandas(Index=39, Team='DET', Year=2011, W=95)
Pandas(Index=40, Team='FLA', Year=2011, W=72)
Pandas(Index=41, Team='HOU', Year=2011, W=56)
Pandas(Index=42, Team='KCR', Year=2011, W=71)
Pandas(Index=43, Team='LAA', Year=2011, W=86)
Pandas(Index=44, Team='LAD', Year=2011, W=82)
Pandas(Index=45, Team='MIL', Year=2011, W=96)
Pandas(Index=46, Team='MIN', Year=2011, W=63)
Pandas(Index=47, Team='NYM', Year=2011, W=77)
Pandas(Index=48, Team='NYY', Year=2011, W=97)
Pandas(Index=49, Team='OAK', Year=2011, W=74)
Pandas(Index=50, Team='PHI', Year=2011, W=102)
Pandas(Index=51, Team='PIT', Year=2011, W=72)
Pandas(Index=52, Team='SDP', Year=2011, W=71)
Pandas(Index=53, Team='SEA', Year=2011, W=67)
Pandas(Index=54, Team='SFG', Year=2011, W=86)
Pandas(Index=55, Team='STL', Year=2011, W=90)
Pandas(Index=56, Team='TBR', Year=2011, W=91)
Pandas(Index=57, Team='TEX', Year=2011, W=96)
Pandas(Index=58, Team='TOR', Year=2011, W=81)
Pandas(Index=59, Team='WSN', Year=2011, W=80)
Pandas(Index=60, Team='ARI', Year=2010, W=65)
Pandas(Index=61, Team='ATL', Year=2010, W=91)
Pandas(Index=62, Team='BAL', Year=2010, W=66)
Pandas(Index=63, Team='BOS', Year=2010, W=89)
Pandas(Index=64, Team='CHC', Year=2010, W=75)
Pandas(Index=65, Team='CHW', Year=2010, W=88)
Pandas(Index=66, Team='CIN', Year=2010, W=91)
Pandas(Index=67, Team='CLE', Year=2010, W=69)
Pandas(Index=68, Team='COL', Year=2010, W=83)
Pandas(Index=69, Team='DET', Year=2010, W=81)
Pandas(Index=70, Team='FLA', Year=2010, W=80)
Pandas(Index=71, Team='HOU', Year=2010, W=76)
Pandas(Index=72, Team='KCR', Year=2010, W=67)
Pandas(Index=73, Team='LAA', Year=2010, W=80)
Pandas(Index=74, Team='LAD', Year=2010, W=80)
Pandas(Index=75, Team='MIL', Year=2010, W=77)
Pandas(Index=76, Team='MIN', Year=2010, W=94)
Pandas(Index=77, Team='NYM', Year=2010, W=79)
Pandas(Index=78, Team='NYY', Year=2010, W=95)
Pandas(Index=79, Team='OAK', Year=2010, W=81)
Pandas(Index=80, Team='PHI', Year=2010, W=97)
Pandas(Index=81, Team='PIT', Year=2010, W=57)
Pandas(Index=82, Team='SDP', Year=2010, W=90)
Pandas(Index=83, Team='SEA', Year=2010, W=61)
Pandas(Index=84, Team='SFG', Year=2010, W=92)
Pandas(Index=85, Team='STL', Year=2010, W=86)
Pandas(Index=86, Team='TBR', Year=2010, W=96)
Pandas(Index=87, Team='TEX', Year=2010, W=90)
Pandas(Index=88, Team='TOR', Year=2010, W=85)
Pandas(Index=89, Team='WSN', Year=2010, W=69)
Pandas(Index=90, Team='ARI', Year=2009, W=70)
Pandas(Index=91, Team='ATL', Year=2009, W=86)
Pandas(Index=92, Team='BAL', Year=2009, W=64)
Pandas(Index=93, Team='BOS', Year=2009, W=95)
Pandas(Index=94, Team='CHC', Year=2009, W=83)
Pandas(Index=95, Team='CHW', Year=2009, W=79)
Pandas(Index=96, Team='CIN', Year=2009, W=78)
Pandas(Index=97, Team='CLE', Year=2009, W=65)
Pandas(Index=98, Team='COL', Year=2009, W=92)
Pandas(Index=99, Team='DET', Year=2009, W=86)
Pandas(Index=100, Team='FLA', Year=2009, W=87)
Pandas(Index=101, Team='HOU', Year=2009, W=74)
Pandas(Index=102, Team='KCR', Year=2009, W=65)
Pandas(Index=103, Team='LAA', Year=2009, W=97)
Pandas(Index=104, Team='LAD', Year=2009, W=95)
Pandas(Index=105, Team='MIL', Year=2009, W=80)
Pandas(Index=106, Team='MIN', Year=2009, W=87)
Pandas(Index=107, Team='NYM', Year=2009, W=70)
Pandas(Index=108, Team='NYY', Year=2009, W=103)
Pandas(Index=109, Team='OAK', Year=2009, W=75)
Pandas(Index=110, Team='PHI', Year=2009, W=93)
Pandas(Index=111, Team='PIT', Year=2009, W=62)
Pandas(Index=112, Team='SDP', Year=2009, W=75)
Pandas(Index=113, Team='SEA', Year=2009, W=85)
Pandas(Index=114, Team='SFG', Year=2009, W=88)
Pandas(Index=115, Team='STL', Year=2009, W=91)
Pandas(Index=116, Team='TBR', Year=2009, W=84)
Pandas(Index=117, Team='TEX', Year=2009, W=87)
Pandas(Index=118, Team='TOR', Year=2009, W=75)
Pandas(Index=119, Team='WSN', Year=2009, W=59)
Pandas(Index=120, Team='ARI', Year=2008, W=82)
Pandas(Index=121, Team='ATL', Year=2008, W=72)
Pandas(Index=122, Team='BAL', Year=2008, W=68)
Pandas(Index=123, Team='BOS', Year=2008, W=95)
Pandas(Index=124, Team='CHC', Year=2008, W=97)
Pandas(Index=125, Team='CHW', Year=2008, W=89)
Pandas(Index=126, Team='CIN', Year=2008, W=74)
Pandas(Index=127, Team='CLE', Year=2008, W=81)
Pandas(Index=128, Team='COL', Year=2008, W=74)
Pandas(Index=129, Team='DET', Year=2008, W=74)
Pandas(Index=130, Team='FLA', Year=2008, W=84)
Pandas(Index=131, Team='HOU', Year=2008, W=86)
Pandas(Index=132, Team='KCR', Year=2008, W=75)
Pandas(Index=133, Team='LAA', Year=2008, W=100)
Pandas(Index=134, Team='LAD', Year=2008, W=84)
Pandas(Index=135, Team='MIL', Year=2008, W=90)
Pandas(Index=136, Team='MIN', Year=2008, W=88)
Pandas(Index=137, Team='NYM', Year=2008, W=89)
Pandas(Index=138, Team='NYY', Year=2008, W=89)
Pandas(Index=139, Team='OAK', Year=2008, W=75)
Pandas(Index=140, Team='PHI', Year=2008, W=92)
Pandas(Index=141, Team='PIT', Year=2008, W=67)
Pandas(Index=142, Team='SDP', Year=2008, W=63)
Pandas(Index=143, Team='SEA', Year=2008, W=61)
Pandas(Index=144, Team='SFG', Year=2008, W=72)
Pandas(Index=145, Team='STL', Year=2008, W=86)
Pandas(Index=146, Team='TBR', Year=2008, W=97)
Pandas(Index=147, Team='TEX', Year=2008, W=79)
Pandas(Index=148, Team='TOR', Year=2008, W=86)
Pandas(Index=149, Team='WSN', Year=2008, W=59)
Pandas(Index=150, Team='ARI', Year=2007, W=90)
Pandas(Index=151, Team='ATL', Year=2007, W=84)
Pandas(Index=152, Team='BAL', Year=2007, W=69)
Pandas(Index=153, Team='BOS', Year=2007, W=96)
Pandas(Index=154, Team='CHC', Year=2007, W=85)
Pandas(Index=155, Team='CHW', Year=2007, W=72)
Pandas(Index=156, Team='CIN', Year=2007, W=72)
Pandas(Index=157, Team='CLE', Year=2007, W=96)
Pandas(Index=158, Team='COL', Year=2007, W=90)
Pandas(Index=159, Team='DET', Year=2007, W=88)
Pandas(Index=160, Team='FLA', Year=2007, W=71)
Pandas(Index=161, Team='HOU', Year=2007, W=73)
Pandas(Index=162, Team='KCR', Year=2007, W=69)
Pandas(Index=163, Team='LAA', Year=2007, W=94)
Pandas(Index=164, Team='LAD', Year=2007, W=82)
Pandas(Index=165, Team='MIL', Year=2007, W=83)
Pandas(Index=166, Team='MIN', Year=2007, W=79)
Pandas(Index=167, Team='NYM', Year=2007, W=88)
Pandas(Index=168, Team='NYY', Year=2007, W=94)
Pandas(Index=169, Team='OAK', Year=2007, W=76)
Pandas(Index=170, Team='PHI', Year=2007, W=89)
Pandas(Index=171, Team='PIT', Year=2007, W=68)
Pandas(Index=172, Team='SDP', Year=2007, W=89)
Pandas(Index=173, Team='SEA', Year=2007, W=88)
Pandas(Index=174, Team='SFG', Year=2007, W=71)
Pandas(Index=175, Team='STL', Year=2007, W=78)
Pandas(Index=176, Team='TBD', Year=2007, W=66)
Pandas(Index=177, Team='TEX', Year=2007, W=75)
Pandas(Index=178, Team='TOR', Year=2007, W=83)
Pandas(Index=179, Team='WSN', Year=2007, W=73)
Pandas(Index=180, Team='ARI', Year=2006, W=76)
Pandas(Index=181, Team='ATL', Year=2006, W=79)
Pandas(Index=182, Team='BAL', Year=2006, W=70)
Pandas(Index=183, Team='BOS', Year=2006, W=86)
Pandas(Index=184, Team='CHC', Year=2006, W=66)
Pandas(Index=185, Team='CHW', Year=2006, W=90)
Pandas(Index=186, Team='CIN', Year=2006, W=80)
Pandas(Index=187, Team='CLE', Year=2006, W=78)
Pandas(Index=188, Team='COL', Year=2006, W=76)
Pandas(Index=189, Team='DET', Year=2006, W=95)
Pandas(Index=190, Team='FLA', Year=2006, W=78)
Pandas(Index=191, Team='HOU', Year=2006, W=82)
Pandas(Index=192, Team='KCR', Year=2006, W=62)
Pandas(Index=193, Team='LAA', Year=2006, W=89)
Pandas(Index=194, Team='LAD', Year=2006, W=88)
Pandas(Index=195, Team='MIL', Year=2006, W=75)
Pandas(Index=196, Team='MIN', Year=2006, W=96)
Pandas(Index=197, Team='NYM', Year=2006, W=97)
Pandas(Index=198, Team='NYY', Year=2006, W=97)
Pandas(Index=199, Team='OAK', Year=2006, W=93)
Pandas(Index=200, Team='PHI', Year=2006, W=85)
Pandas(Index=201, Team='PIT', Year=2006, W=67)
Pandas(Index=202, Team='SDP', Year=2006, W=88)
Pandas(Index=203, Team='SEA', Year=2006, W=78)
Pandas(Index=204, Team='SFG', Year=2006, W=76)
Pandas(Index=205, Team='STL', Year=2006, W=83)
Pandas(Index=206, Team='TBD', Year=2006, W=61)
Pandas(Index=207, Team='TEX', Year=2006, W=80)
Pandas(Index=208, Team='TOR', Year=2006, W=87)
Pandas(Index=209, Team='WSN', Year=2006, W=71)
Pandas(Index=210, Team='ARI', Year=2005, W=77)
Pandas(Index=211, Team='ATL', Year=2005, W=90)
Pandas(Index=212, Team='BAL', Year=2005, W=74)
Pandas(Index=213, Team='BOS', Year=2005, W=95)
Pandas(Index=214, Team='CHC', Year=2005, W=79)
Pandas(Index=215, Team='CHW', Year=2005, W=99)
Pandas(Index=216, Team='CIN', Year=2005, W=73)
Pandas(Index=217, Team='CLE', Year=2005, W=93)
Pandas(Index=218, Team='COL', Year=2005, W=67)
Pandas(Index=219, Team='DET', Year=2005, W=71)
Pandas(Index=220, Team='FLA', Year=2005, W=83)
Pandas(Index=221, Team='HOU', Year=2005, W=89)
Pandas(Index=222, Team='KCR', Year=2005, W=56)
Pandas(Index=223, Team='LAA', Year=2005, W=95)
Pandas(Index=224, Team='LAD', Year=2005, W=71)
Pandas(Index=225, Team='MIL', Year=2005, W=81)
Pandas(Index=226, Team='MIN', Year=2005, W=83)
Pandas(Index=227, Team='NYM', Year=2005, W=83)
Pandas(Index=228, Team='NYY', Year=2005, W=95)
Pandas(Index=229, Team='OAK', Year=2005, W=88)
Pandas(Index=230, Team='PHI', Year=2005, W=88)
Pandas(Index=231, Team='PIT', Year=2005, W=67)
Pandas(Index=232, Team='SDP', Year=2005, W=82)
Pandas(Index=233, Team='SEA', Year=2005, W=69)
Pandas(Index=234, Team='SFG', Year=2005, W=75)
Pandas(Index=235, Team='STL', Year=2005, W=100)
Pandas(Index=236, Team='TBD', Year=2005, W=67)
Pandas(Index=237, Team='TEX', Year=2005, W=79)
Pandas(Index=238, Team='TOR', Year=2005, W=80)
Pandas(Index=239, Team='WSN', Year=2005, W=81)
Pandas(Index=240, Team='ANA', Year=2004, W=92)
Pandas(Index=241, Team='ARI', Year=2004, W=51)
Pandas(Index=242, Team='ATL', Year=2004, W=96)
Pandas(Index=243, Team='BAL', Year=2004, W=78)
Pandas(Index=244, Team='BOS', Year=2004, W=98)
Pandas(Index=245, Team='CHC', Year=2004, W=89)
Pandas(Index=246, Team='CHW', Year=2004, W=83)
Pandas(Index=247, Team='CIN', Year=2004, W=76)
Pandas(Index=248, Team='CLE', Year=2004, W=80)
Pandas(Index=249, Team='COL', Year=2004, W=68)
Pandas(Index=250, Team='DET', Year=2004, W=72)
Pandas(Index=251, Team='FLA', Year=2004, W=83)
Pandas(Index=252, Team='HOU', Year=2004, W=92)
Pandas(Index=253, Team='KCR', Year=2004, W=58)
Pandas(Index=254, Team='LAD', Year=2004, W=93)
Pandas(Index=255, Team='MIL', Year=2004, W=67)
Pandas(Index=256, Team='MIN', Year=2004, W=92)
Pandas(Index=257, Team='MON', Year=2004, W=67)
Pandas(Index=258, Team='NYM', Year=2004, W=71)
Pandas(Index=259, Team='NYY', Year=2004, W=101)
Pandas(Index=260, Team='OAK', Year=2004, W=91)
Pandas(Index=261, Team='PHI', Year=2004, W=86)
Pandas(Index=262, Team='PIT', Year=2004, W=72)
Pandas(Index=263, Team='SDP', Year=2004, W=87)
Pandas(Index=264, Team='SEA', Year=2004, W=63)
Pandas(Index=265, Team='SFG', Year=2004, W=91)
Pandas(Index=266, Team='STL', Year=2004, W=105)
Pandas(Index=267, Team='TBD', Year=2004, W=70)
Pandas(Index=268, Team='TEX', Year=2004, W=89)
Pandas(Index=269, Team='TOR', Year=2004, W=67)
Pandas(Index=270, Team='ANA', Year=2003, W=77)
Pandas(Index=271, Team='ARI', Year=2003, W=84)
Pandas(Index=272, Team='ATL', Year=2003, W=101)
Pandas(Index=273, Team='BAL', Year=2003, W=71)
Pandas(Index=274, Team='BOS', Year=2003, W=95)
Pandas(Index=275, Team='CHC', Year=2003, W=88)
Pandas(Index=276, Team='CHW', Year=2003, W=86)
Pandas(Index=277, Team='CIN', Year=2003, W=69)
Pandas(Index=278, Team='CLE', Year=2003, W=68)
Pandas(Index=279, Team='COL', Year=2003, W=74)
Pandas(Index=280, Team='DET', Year=2003, W=43)
Pandas(Index=281, Team='FLA', Year=2003, W=91)
Pandas(Index=282, Team='HOU', Year=2003, W=87)
Pandas(Index=283, Team='KCR', Year=2003, W=83)
Pandas(Index=284, Team='LAD', Year=2003, W=85)
Pandas(Index=285, Team='MIL', Year=2003, W=68)
Pandas(Index=286, Team='MIN', Year=2003, W=90)
Pandas(Index=287, Team='MON', Year=2003, W=83)
Pandas(Index=288, Team='NYM', Year=2003, W=66)
Pandas(Index=289, Team='NYY', Year=2003, W=101)
Pandas(Index=290, Team='OAK', Year=2003, W=96)
Pandas(Index=291, Team='PHI', Year=2003, W=86)
Pandas(Index=292, Team='PIT', Year=2003, W=75)
Pandas(Index=293, Team='SDP', Year=2003, W=64)
Pandas(Index=294, Team='SEA', Year=2003, W=93)
Pandas(Index=295, Team='SFG', Year=2003, W=100)
Pandas(Index=296, Team='STL', Year=2003, W=85)
Pandas(Index=297, Team='TBD', Year=2003, W=63)
Pandas(Index=298, Team='TEX', Year=2003, W=71)
Pandas(Index=299, Team='TOR', Year=2003, W=86)
Pandas(Index=300, Team='ANA', Year=2002, W=99)
Pandas(Index=301, Team='ARI', Year=2002, W=98)
Pandas(Index=302, Team='ATL', Year=2002, W=101)
Pandas(Index=303, Team='BAL', Year=2002, W=67)
Pandas(Index=304, Team='BOS', Year=2002, W=93)
Pandas(Index=305, Team='CHC', Year=2002, W=67)
Pandas(Index=306, Team='CHW', Year=2002, W=81)
Pandas(Index=307, Team='CIN', Year=2002, W=78)
Pandas(Index=308, Team='CLE', Year=2002, W=74)
Pandas(Index=309, Team='COL', Year=2002, W=73)
Pandas(Index=310, Team='DET', Year=2002, W=55)
Pandas(Index=311, Team='FLA', Year=2002, W=79)
Pandas(Index=312, Team='HOU', Year=2002, W=84)
Pandas(Index=313, Team='KCR', Year=2002, W=62)
Pandas(Index=314, Team='LAD', Year=2002, W=92)
Pandas(Index=315, Team='MIL', Year=2002, W=56)
Pandas(Index=316, Team='MIN', Year=2002, W=94)
Pandas(Index=317, Team='MON', Year=2002, W=83)
Pandas(Index=318, Team='NYM', Year=2002, W=75)
Pandas(Index=319, Team='NYY', Year=2002, W=103)
Pandas(Index=320, Team='OAK', Year=2002, W=103)
Pandas(Index=321, Team='PHI', Year=2002, W=80)
Pandas(Index=322, Team='PIT', Year=2002, W=72)
Pandas(Index=323, Team='SDP', Year=2002, W=66)
Pandas(Index=324, Team='SEA', Year=2002, W=93)
Pandas(Index=325, Team='SFG', Year=2002, W=95)
Pandas(Index=326, Team='STL', Year=2002, W=97)
Pandas(Index=327, Team='TBD', Year=2002, W=55)
Pandas(Index=328, Team='TEX', Year=2002, W=72)
Pandas(Index=329, Team='TOR', Year=2002, W=78)
Pandas(Index=330, Team='ANA', Year=2001, W=75)
Pandas(Index=331, Team='ARI', Year=2001, W=92)
Pandas(Index=332, Team='ATL', Year=2001, W=88)
Pandas(Index=333, Team='BAL', Year=2001, W=63)
Pandas(Index=334, Team='BOS', Year=2001, W=82)
Pandas(Index=335, Team='CHC', Year=2001, W=88)
Pandas(Index=336, Team='CHW', Year=2001, W=83)
Pandas(Index=337, Team='CIN', Year=2001, W=66)
Pandas(Index=338, Team='CLE', Year=2001, W=91)
Pandas(Index=339, Team='COL', Year=2001, W=73)
Pandas(Index=340, Team='DET', Year=2001, W=66)
Pandas(Index=341, Team='FLA', Year=2001, W=76)
Pandas(Index=342, Team='HOU', Year=2001, W=93)
Pandas(Index=343, Team='KCR', Year=2001, W=65)
Pandas(Index=344, Team='LAD', Year=2001, W=86)
Pandas(Index=345, Team='MIL', Year=2001, W=68)
Pandas(Index=346, Team='MIN', Year=2001, W=85)
Pandas(Index=347, Team='MON', Year=2001, W=68)
Pandas(Index=348, Team='NYM', Year=2001, W=82)
Pandas(Index=349, Team='NYY', Year=2001, W=95)
Pandas(Index=350, Team='OAK', Year=2001, W=102)
Pandas(Index=351, Team='PHI', Year=2001, W=86)
Pandas(Index=352, Team='PIT', Year=2001, W=62)
Pandas(Index=353, Team='SDP', Year=2001, W=79)
Pandas(Index=354, Team='SEA', Year=2001, W=116)
Pandas(Index=355, Team='SFG', Year=2001, W=90)
Pandas(Index=356, Team='STL', Year=2001, W=93)
Pandas(Index=357, Team='TBD', Year=2001, W=62)
Pandas(Index=358, Team='TEX', Year=2001, W=73)
Pandas(Index=359, Team='TOR', Year=2001, W=80)
Pandas(Index=360, Team='ANA', Year=2000, W=82)
Pandas(Index=361, Team='ARI', Year=2000, W=85)
Pandas(Index=362, Team='ATL', Year=2000, W=95)
Pandas(Index=363, Team='BAL', Year=2000, W=74)
Pandas(Index=364, Team='BOS', Year=2000, W=85)
Pandas(Index=365, Team='CHC', Year=2000, W=65)
Pandas(Index=366, Team='CHW', Year=2000, W=95)
Pandas(Index=367, Team='CIN', Year=2000, W=85)
Pandas(Index=368, Team='CLE', Year=2000, W=90)
Pandas(Index=369, Team='COL', Year=2000, W=82)
Pandas(Index=370, Team='DET', Year=2000, W=79)
Pandas(Index=371, Team='FLA', Year=2000, W=79)
Pandas(Index=372, Team='HOU', Year=2000, W=72)
Pandas(Index=373, Team='KCR', Year=2000, W=77)
Pandas(Index=374, Team='LAD', Year=2000, W=86)
Pandas(Index=375, Team='MIL', Year=2000, W=73)
Pandas(Index=376, Team='MIN', Year=2000, W=69)
Pandas(Index=377, Team='MON', Year=2000, W=67)
Pandas(Index=378, Team='NYM', Year=2000, W=94)
Pandas(Index=379, Team='NYY', Year=2000, W=87)
Pandas(Index=380, Team='OAK', Year=2000, W=91)
Pandas(Index=381, Team='PHI', Year=2000, W=65)
Pandas(Index=382, Team='PIT', Year=2000, W=69)
Pandas(Index=383, Team='SDP', Year=2000, W=76)
Pandas(Index=384, Team='SEA', Year=2000, W=91)
Pandas(Index=385, Team='SFG', Year=2000, W=97)
Pandas(Index=386, Team='STL', Year=2000, W=95)
Pandas(Index=387, Team='TBD', Year=2000, W=69)
Pandas(Index=388, Team='TEX', Year=2000, W=71)
Pandas(Index=389, Team='TOR', Year=2000, W=83)
Pandas(Index=390, Team='ANA', Year=1999, W=70)
Pandas(Index=391, Team='ARI', Year=1999, W=100)
Pandas(Index=392, Team='ATL', Year=1999, W=103)
Pandas(Index=393, Team='BAL', Year=1999, W=78)
Pandas(Index=394, Team='BOS', Year=1999, W=94)
Pandas(Index=395, Team='CHC', Year=1999, W=67)
Pandas(Index=396, Team='CHW', Year=1999, W=75)
Pandas(Index=397, Team='CIN', Year=1999, W=96)
Pandas(Index=398, Team='CLE', Year=1999, W=97)
Pandas(Index=399, Team='COL', Year=1999, W=72)
Pandas(Index=400, Team='DET', Year=1999, W=69)
Pandas(Index=401, Team='FLA', Year=1999, W=64)
Pandas(Index=402, Team='HOU', Year=1999, W=97)
Pandas(Index=403, Team='KCR', Year=1999, W=64)
Pandas(Index=404, Team='LAD', Year=1999, W=77)
Pandas(Index=405, Team='MIL', Year=1999, W=74)
Pandas(Index=406, Team='MIN', Year=1999, W=63)
Pandas(Index=407, Team='MON', Year=1999, W=68)
Pandas(Index=408, Team='NYM', Year=1999, W=97)
Pandas(Index=409, Team='NYY', Year=1999, W=98)
Pandas(Index=410, Team='OAK', Year=1999, W=87)
Pandas(Index=411, Team='PHI', Year=1999, W=77)
Pandas(Index=412, Team='PIT', Year=1999, W=78)
Pandas(Index=413, Team='SDP', Year=1999, W=74)
Pandas(Index=414, Team='SEA', Year=1999, W=79)
Pandas(Index=415, Team='SFG', Year=1999, W=86)
Pandas(Index=416, Team='STL', Year=1999, W=75)
Pandas(Index=417, Team='TBD', Year=1999, W=69)
Pandas(Index=418, Team='TEX', Year=1999, W=95)
Pandas(Index=419, Team='TOR', Year=1999, W=84)
Pandas(Index=420, Team='ANA', Year=1998, W=85)
Pandas(Index=421, Team='ARI', Year=1998, W=65)
Pandas(Index=422, Team='ATL', Year=1998, W=106)
Pandas(Index=423, Team='BAL', Year=1998, W=79)
Pandas(Index=424, Team='BOS', Year=1998, W=92)
Pandas(Index=425, Team='CHC', Year=1998, W=90)
Pandas(Index=426, Team='CHW', Year=1998, W=80)

Notice in the output that each printed row_namedtuple has an Index attribute and each column in our team_wins_df as an attribute. That means we can access each of these attributes with a lookup using a dot method. Here, we can print the last row_namedtuple's Index using **row_namedtuple.Index**. We can print this row_namedtuple's Team with **row_namedtuple.Team**, Year with **row_namedtuple.Year** and so on.

In [44]:
print(row_namedtuple.Index)

1231

In [45]:
print(row_namedtuple.Team)

WSA

When we compare **.iterrows** to **.itertuples**, we see that there is quite a bit of improvement!

In [46]:
%%timeit -r1 -n1
for row_tuple in team_wins_df.iterrows():
    print(row_tuple)

(0, Team     ARI
Year    2012
W         81
Name: 0, dtype: object)
(1, Team     ATL
Year    2012
W         94
Name: 1, dtype: object)
(2, Team     BAL
Year    2012
W         93
Name: 2, dtype: object)
(3, Team     BOS
Year    2012
W         69
Name: 3, dtype: object)
(4, Team     CHC
Year    2012
W         61
Name: 4, dtype: object)
(5, Team     CHW
Year    2012
W         85
Name: 5, dtype: object)
(6, Team     CIN
Year    2012
W         97
Name: 6, dtype: object)
(7, Team     CLE
Year    2012
W         68
Name: 7, dtype: object)
(8, Team     COL
Year    2012
W         64
Name: 8, dtype: object)
(9, Team     DET
Year    2012
W         88
Name: 9, dtype: object)
(10, Team     HOU
Year    2012
W         55
Name: 10, dtype: object)
(11, Team     KCR
Year    2012
W         72
Name: 11, dtype: object)
(12, Team     LAA
Year    2012
W         89
Name: 12, dtype: object)
(13, Team     LAD
Year    2012
W         86
Name: 13, dtype: object)
(14, Team     MIA
Year    2012
W         69
Name: 14, dtype: object)
(15, Team     MIL
Year    2012
W         83
Name: 15, dtype: object)
(16, Team     MIN
Year    2012
W         66
Name: 16, dtype: object)
(17, Team     NYM
Year    2012
W         74
Name: 17, dtype: object)
(18, Team     NYY
Year    2012
W         95
Name: 18, dtype: object)
(19, Team     OAK
Year    2012
W         94
Name: 19, dtype: object)
(20, Team     PHI
Year    2012
W         81
Name: 20, dtype: object)
(21, Team     PIT
Year    2012
W         79
Name: 21, dtype: object)
(22, Team     SDP
Year    2012
W         76
Name: 22, dtype: object)
(23, Team     SEA
Year    2012
W         75
Name: 23, dtype: object)
(24, Team     SFG
Year    2012
W         94
Name: 24, dtype: object)
(25, Team     STL
Year    2012
W         88
Name: 25, dtype: object)
(26, Team     TBR
Year    2012
W         90
Name: 26, dtype: object)
(27, Team     TEX
Year    2012
W         93
Name: 27, dtype: object)
(28, Team     TOR
Year    2012
W         73
Name: 28, dtype: object)
(29, Team     WSN
Year    2012
W         98
Name: 29, dtype: object)
(30, Team     ARI
Year    2011
W         94
Name: 30, dtype: object)
(31, Team     ATL
Year    2011
W         89
Name: 31, dtype: object)
(32, Team     BAL
Year    2011
W         69
Name: 32, dtype: object)
(33, Team     BOS
Year    2011
W         90
Name: 33, dtype: object)
(34, Team     CHC
Year    2011
W         71
Name: 34, dtype: object)
(35, Team     CHW
Year    2011
W         79
Name: 35, dtype: object)
(36, Team     CIN
Year    2011
W         79
Name: 36, dtype: object)
(37, Team     CLE
Year    2011
W         80
Name: 37, dtype: object)
(38, Team     COL
Year    2011
W         73
Name: 38, dtype: object)
(39, Team     DET
Year    2011
W         95
Name: 39, dtype: object)
(40, Team     FLA
Year    2011
W         72
Name: 40, dtype: object)
(41, Team     HOU
Year    2011
W         56
Name: 41, dtype: object)
(42, Team     KCR
Year    2011
W         71
Name: 42, dtype: object)
(43, Team     LAA
Year    2011
W         86
Name: 43, dtype: object)
(44, Team     LAD
Year    2011
W         82
Name: 44, dtype: object)
(45, Team     MIL
Year    2011
W         96
Name: 45, dtype: object)
(46, Team     MIN
Year    2011
W         63
Name: 46, dtype: object)
(47, Team     NYM
Year    2011
W         77
Name: 47, dtype: object)
(48, Team     NYY
Year    2011
W         97
Name: 48, dtype: object)
(49, Team     OAK
Year    2011
W         74
Name: 49, dtype: object)
(50, Team     PHI
Year    2011
W        102
Name: 50, dtype: object)
(51, Team     PIT
Year    2011
W         72
Name: 51, dtype: object)
(52, Team     SDP
Year    2011
W         71
Name: 52, dtype: object)
(53, Team     SEA
Year    2011
W         67
Name: 53, dtype: object)
(54, Team     SFG
Year    2011
W         86
Name: 54, dtype: object)
(55, Team     STL
Year    2011
W         90
Name: 55, dtype: object)
(56, Team     TBR
Year    2011
W         91
Name: 56, dtype: object)
(57, Team     TEX
Year    2011
W         96
Name: 57, dtype: object)
(58, Team     TOR
Year    2011
W         81
Name: 58, dtype: object)
(59, Team     WSN
Year    2011
W         80
Name: 59, dtype: object)
(60, Team     ARI
Year    2010
W         65
Name: 60, dtype: object)
(61, Team     ATL
Year    2010
W         91
Name: 61, dtype: object)
(62, Team     BAL
Year    2010
W         66
Name: 62, dtype: object)
(63, Team     BOS
Year    2010
W         89
Name: 63, dtype: object)
(64, Team     CHC
Year    2010
W         75
Name: 64, dtype: object)
(65, Team     CHW
Year    2010
W         88
Name: 65, dtype: object)
(66, Team     CIN
Year    2010
W         91
Name: 66, dtype: object)
(67, Team     CLE
Year    2010
W         69
Name: 67, dtype: object)
(68, Team     COL
Year    2010
W         83
Name: 68, dtype: object)
(69, Team     DET
Year    2010
W         81
Name: 69, dtype: object)
(70, Team     FLA
Year    2010
W         80
Name: 70, dtype: object)
(71, Team     HOU
Year    2010
W         76
Name: 71, dtype: object)
(72, Team     KCR
Year    2010
W         67
Name: 72, dtype: object)
(73, Team     LAA
Year    2010
W         80
Name: 73, dtype: object)
(74, Team     LAD
Year    2010
W         80
Name: 74, dtype: object)
(75, Team     MIL
Year    2010
W         77
Name: 75, dtype: object)
(76, Team     MIN
Year    2010
W         94
Name: 76, dtype: object)
(77, Team     NYM
Year    2010
W         79
Name: 77, dtype: object)
(78, Team     NYY
Year    2010
W         95
Name: 78, dtype: object)
(79, Team     OAK
Year    2010
W         81
Name: 79, dtype: object)
(80, Team     PHI
Year    2010
W         97
Name: 80, dtype: object)
(81, Team     PIT
Year    2010
W         57
Name: 81, dtype: object)
(82, Team     SDP
Year    2010
W         90
Name: 82, dtype: object)
(83, Team     SEA
Year    2010
W         61
Name: 83, dtype: object)
(84, Team     SFG
Year    2010
W         92
Name: 84, dtype: object)
(85, Team     STL
Year    2010
W         86
Name: 85, dtype: object)
(86, Team     TBR
Year    2010
W         96
Name: 86, dtype: object)
(87, Team     TEX
Year    2010
W         90
Name: 87, dtype: object)
(88, Team     TOR
Year    2010
W         85
Name: 88, dtype: object)
(89, Team     WSN
Year    2010
W         69
Name: 89, dtype: object)
(90, Team     ARI
Year    2009
W         70
Name: 90, dtype: object)
(91, Team     ATL
Year    2009
W         86
Name: 91, dtype: object)
(92, Team     BAL
Year    2009
W         64
Name: 92, dtype: object)
(93, Team     BOS
Year    2009
W         95
Name: 93, dtype: object)
(94, Team     CHC
Year    2009
W         83
Name: 94, dtype: object)
(95, Team     CHW
Year    2009
W         79
Name: 95, dtype: object)
(96, Team     CIN
Year    2009
W         78
Name: 96, dtype: object)
(97, Team     CLE
Year    2009
W         65
Name: 97, dtype: object)
(98, Team     COL
Year    2009
W         92
Name: 98, dtype: object)
(99, Team     DET
Year    2009
W         86
Name: 99, dtype: object)
(100, Team     FLA
Year    2009
W         87
Name: 100, dtype: object)
(101, Team     HOU
Year    2009
W         74
Name: 101, dtype: object)
(102, Team     KCR
Year    2009
W         65
Name: 102, dtype: object)
(103, Team     LAA
Year    2009
W         97
Name: 103, dtype: object)
(104, Team     LAD
Year    2009
W         95
Name: 104, dtype: object)
(105, Team     MIL
Year    2009
W         80
Name: 105, dtype: object)
(106, Team     MIN
Year    2009
W         87
Name: 106, dtype: object)
(107, Team     NYM
Year    2009
W         70
Name: 107, dtype: object)
(108, Team     NYY
Year    2009
W        103
Name: 108, dtype: object)
(109, Team     OAK
Year    2009
W         75
Name: 109, dtype: object)
(110, Team     PHI
Year    2009
W         93
Name: 110, dtype: object)
(111, Team     PIT
Year    2009
W         62
Name: 111, dtype: object)
(112, Team     SDP
Year    2009
W         75
Name: 112, dtype: object)
(113, Team     SEA
Year    2009
W         85
Name: 113, dtype: object)
(114, Team     SFG
Year    2009
W         88
Name: 114, dtype: object)
(115, Team     STL
Year    2009
W         91
Name: 115, dtype: object)
(116, Team     TBR
Year    2009
W         84
Name: 116, dtype: object)
(117, Team     TEX
Year    2009
W         87
Name: 117, dtype: object)
(118, Team     TOR
Year    2009
W         75
Name: 118, dtype: object)
(119, Team     WSN
Year    2009
W         59
Name: 119, dtype: object)
(120, Team     ARI
Year    2008
W         82
Name: 120, dtype: object)
(121, Team     ATL
Year    2008
W         72
Name: 121, dtype: object)
(122, Team     BAL
Year    2008
W         68
Name: 122, dtype: object)
(123, Team     BOS
Year    2008
W         95
Name: 123, dtype: object)
(124, Team     CHC
Year    2008
W         97
Name: 124, dtype: object)
(125, Team     CHW
Year    2008
W         89
Name: 125, dtype: object)
(126, Team     CIN
Year    2008
W         74
Name: 126, dtype: object)
(127, Team     CLE
Year    2008
W         81
Name: 127, dtype: object)
(128, Team     COL
Year    2008
W         74
Name: 128, dtype: object)
(129, Team     DET
Year    2008
W         74
Name: 129, dtype: object)
(130, Team     FLA
Year    2008
W         84
Name: 130, dtype: object)
(131, Team     HOU
Year    2008
W         86
Name: 131, dtype: object)
(132, Team     KCR
Year    2008
W         75
Name: 132, dtype: object)
(133, Team     LAA
Year    2008
W        100
Name: 133, dtype: object)
(134, Team     LAD
Year    2008
W         84
Name: 134, dtype: object)
(135, Team     MIL
Year    2008
W         90
Name: 135, dtype: object)
(136, Team     MIN
Year    2008
W         88
Name: 136, dtype: object)
(137, Team     NYM
Year    2008
W         89
Name: 137, dtype: object)
(138, Team     NYY
Year    2008
W         89
Name: 138, dtype: object)
(139, Team     OAK
Year    2008
W         75
Name: 139, dtype: object)
(140, Team     PHI
Year    2008
W         92
Name: 140, dtype: object)
(141, Team     PIT
Year    2008
W         67
Name: 141, dtype: object)
(142, Team     SDP
Year    2008
W         63
Name: 142, dtype: object)
(143, Team     SEA
Year    2008
W         61
Name: 143, dtype: object)
(144, Team     SFG
Year    2008
W         72
Name: 144, dtype: object)
(145, Team     STL
Year    2008
W         86
Name: 145, dtype: object)
(146, Team     TBR
Year    2008
W         97
Name: 146, dtype: object)
(147, Team     TEX
Year    2008
W         79
Name: 147, dtype: object)
(148, Team     TOR
Year    2008
W         86
Name: 148, dtype: object)
(149, Team     WSN
Year    2008
W         59
Name: 149, dtype: object)
(150, Team     ARI
Year    2007
W         90
Name: 150, dtype: object)
(151, Team     ATL
Year    2007
W         84
Name: 151, dtype: object)
(152, Team     BAL
Year    2007
W         69
Name: 152, dtype: object)
(153, Team     BOS
Year    2007
W         96
Name: 153, dtype: object)
(154, Team     CHC
Year    2007
W         85
Name: 154, dtype: object)
(155, Team     CHW
Year    2007
W         72
Name: 155, dtype: object)
(156, Team     CIN
Year    2007
W         72
Name: 156, dtype: object)
(157, Team     CLE
Year    2007
W         96
Name: 157, dtype: object)
(158, Team     COL
Year    2007
W         90
Name: 158, dtype: object)
(159, Team     DET
Year    2007
W         88
Name: 159, dtype: object)
(160, Team     FLA
Year    2007
W         71
Name: 160, dtype: object)
(161, Team     HOU
Year    2007
W         73
Name: 161, dtype: object)
(162, Team     KCR
Year    2007
W         69
Name: 162, dtype: object)
(163, Team     LAA
Year    2007
W         94
Name: 163, dtype: object)
(164, Team     LAD
Year    2007
W         82
Name: 164, dtype: object)
(165, Team     MIL
Year    2007
W         83
Name: 165, dtype: object)
(166, Team     MIN
Year    2007
W         79
Name: 166, dtype: object)
(167, Team     NYM
Year    2007
W         88
Name: 167, dtype: object)
(168, Team     NYY
Year    2007
W         94
Name: 168, dtype: object)
(169, Team     OAK
Year    2007
W         76
Name: 169, dtype: object)
(170, Team     PHI
Year    2007
W         89
Name: 170, dtype: object)
(171, Team     PIT
Year    2007
W         68
Name: 171, dtype: object)
(172, Team     SDP
Year    2007
W         89
Name: 172, dtype: object)
(173, Team     SEA
Year    2007
W         88
Name: 173, dtype: object)
(174, Team     SFG
Year    2007
W         71
Name: 174, dtype: object)
(175, Team     STL
Year    2007
W         78
Name: 175, dtype: object)
(176, Team     TBD
Year    2007
W         66
Name: 176, dtype: object)
(177, Team     TEX
Year    2007
W         75
Name: 177, dtype: object)
(178, Team     TOR
Year    2007
W         83
Name: 178, dtype: object)
(179, Team     WSN
Year    2007
W         73
Name: 179, dtype: object)
(180, Team     ARI
Year    2006
W         76
Name: 180, dtype: object)
(181, Team     ATL
Year    2006
W         79
Name: 181, dtype: object)
(182, Team     BAL
Year    2006
W         70
Name: 182, dtype: object)
(183, Team     BOS
Year    2006
W         86
Name: 183, dtype: object)
(184, Team     CHC
Year    2006
W         66
Name: 184, dtype: object)
(185, Team     CHW
Year    2006
W         90
Name: 185, dtype: object)
(186, Team     CIN
Year    2006
W         80
Name: 186, dtype: object)
(187, Team     CLE
Year    2006
W         78
Name: 187, dtype: object)
(188, Team     COL
Year    2006
W         76
Name: 188, dtype: object)
(189, Team     DET
Year    2006
W         95
Name: 189, dtype: object)
(190, Team     FLA
Year    2006
W         78
Name: 190, dtype: object)
(191, Team     HOU
Year    2006
W         82
Name: 191, dtype: object)
(192, Team     KCR
Year    2006
W         62
Name: 192, dtype: object)
(193, Team     LAA
Year    2006
W         89
Name: 193, dtype: object)
(194, Team     LAD
Year    2006
W         88
Name: 194, dtype: object)
(195, Team     MIL
Year    2006
W         75
Name: 195, dtype: object)
(196, Team     MIN
Year    2006
W         96
Name: 196, dtype: object)
(197, Team     NYM
Year    2006
W         97
Name: 197, dtype: object)
(198, Team     NYY
Year    2006
W         97
Name: 198, dtype: object)
(199, Team     OAK
Year    2006
W         93
Name: 199, dtype: object)
(200, Team     PHI
Year    2006
W         85
Name: 200, dtype: object)
(201, Team     PIT
Year    2006
W         67
Name: 201, dtype: object)
(202, Team     SDP
Year    2006
W         88
Name: 202, dtype: object)
(203, Team     SEA
Year    2006
W         78
Name: 203, dtype: object)
(204, Team     SFG
Year    2006
W         76
Name: 204, dtype: object)
(205, Team     STL
Year    2006
W         83
Name: 205, dtype: object)
(206, Team     TBD
Year    2006
W         61
Name: 206, dtype: object)
(207, Team     TEX
Year    2006
W         80
Name: 207, dtype: object)
(208, Team     TOR
Year    2006
W         87
Name: 208, dtype: object)
(209, Team     WSN
Year    2006
W         71
Name: 209, dtype: object)
(210, Team     ARI
Year    2005
W         77
Name: 210, dtype: object)
(211, Team     ATL
Year    2005
W         90
Name: 211, dtype: object)
(212, Team     BAL
Year    2005
W         74
Name: 212, dtype: object)
(213, Team     BOS
Year    2005
W         95
Name: 213, dtype: object)
(214, Team     CHC
Year    2005
W         79
Name: 214, dtype: object)
(215, Team     CHW
Year    2005
W         99
Name: 215, dtype: object)
(216, Team     CIN
Year    2005
W         73
Name: 216, dtype: object)
(217, Team     CLE
Year    2005
W         93
Name: 217, dtype: object)
(218, Team     COL
Year    2005
W         67
Name: 218, dtype: object)
(219, Team     DET
Year    2005
W         71
Name: 219, dtype: object)
(220, Team     FLA
Year    2005
W         83
Name: 220, dtype: object)
(221, Team     HOU
Year    2005
W         89
Name: 221, dtype: object)
(222, Team     KCR
Year    2005
W         56
Name: 222, dtype: object)
(223, Team     LAA
Year    2005
W         95
Name: 223, dtype: object)
(224, Team     LAD
Year    2005
W         71
Name: 224, dtype: object)
(225, Team     MIL
Year    2005
W         81
Name: 225, dtype: object)
(226, Team     MIN
Year    2005
W         83
Name: 226, dtype: object)
(227, Team     NYM
Year    2005
W         83
Name: 227, dtype: object)
(228, Team     NYY
Year    2005
W         95
Name: 228, dtype: object)
(229, Team     OAK
Year    2005
W         88
Name: 229, dtype: object)
(230, Team     PHI
Year    2005
W         88
Name: 230, dtype: object)
(231, Team     PIT
Year    2005
W         67
Name: 231, dtype: object)
(232, Team     SDP
Year    2005
W         82
Name: 232, dtype: object)
(233, Team     SEA
Year    2005
W         69
Name: 233, dtype: object)
(234, Team     SFG
Year    2005
W         75
Name: 234, dtype: object)
(235, Team     STL
Year    2005
W        100
Name: 235, dtype: object)
(236, Team     TBD
Year    2005
W         67
Name: 236, dtype: object)
(237, Team     TEX
Year    2005
W         79
Name: 237, dtype: object)
(238, Team     TOR
Year    2005
W         80
Name: 238, dtype: object)
(239, Team     WSN
Year    2005
W         81
Name: 239, dtype: object)
(240, Team     ANA
Year    2004
W         92
Name: 240, dtype: object)
(241, Team     ARI
Year    2004
W         51
Name: 241, dtype: object)
(242, Team     ATL
Year    2004
W         96
Name: 242, dtype: object)
(243, Team     BAL
Year    2004
W         78
Name: 243, dtype: object)
(244, Team     BOS
Year    2004
W         98
Name: 244, dtype: object)
(245, Team     CHC
Year    2004
W         89
Name: 245, dtype: object)
(246, Team     CHW
Year    2004
W         83
Name: 246, dtype: object)
(247, Team     CIN
Year    2004
W         76
Name: 247, dtype: object)
(248, Team     CLE
Year    2004
W         80
Name: 248, dtype: object)
(249, Team     COL
Year    2004
W         68
Name: 249, dtype: object)
(250, Team     DET
Year    2004
W         72
Name: 250, dtype: object)
(251, Team     FLA
Year    2004
W         83
Name: 251, dtype: object)
(252, Team     HOU
Year    2004
W         92
Name: 252, dtype: object)
(253, Team     KCR
Year    2004
W         58
Name: 253, dtype: object)
(254, Team     LAD
Year    2004
W         93
Name: 254, dtype: object)
(255, Team     MIL
Year    2004
W         67
Name: 255, dtype: object)
(256, Team     MIN
Year    2004
W         92
Name: 256, dtype: object)
(257, Team     MON
Year    2004
W         67
Name: 257, dtype: object)
(258, Team     NYM
Year    2004
W         71
Name: 258, dtype: object)
(259, Team     NYY
Year    2004
W        101
Name: 259, dtype: object)
(260, Team     OAK
Year    2004
W         91
Name: 260, dtype: object)
(261, Team     PHI
Year    2004
W         86
Name: 261, dtype: object)
(262, Team     PIT
Year    2004
W         72
Name: 262, dtype: object)
(263, Team     SDP
Year    2004
W         87
Name: 263, dtype: object)
(264, Team     SEA
Year    2004
W         63
Name: 264, dtype: object)
(265, Team     SFG
Year    2004
W         91
Name: 265, dtype: object)
(266, Team     STL
Year    2004
W        105
Name: 266, dtype: object)
(267, Team     TBD
Year    2004
W         70
Name: 267, dtype: object)
(268, Team     TEX
Year    2004
W         89
Name: 268, dtype: object)
(269, Team     TOR
Year    2004
W         67
Name: 269, dtype: object)
(270, Team     ANA
Year    2003
W         77
Name: 270, dtype: object)
(271, Team     ARI
Year    2003
W         84
Name: 271, dtype: object)
(272, Team     ATL
Year    2003
W        101
Name: 272, dtype: object)
(273, Team     BAL
Year    2003
W         71
Name: 273, dtype: object)
(274, Team     BOS
Year    2003
W         95
Name: 274, dtype: object)
(275, Team     CHC
Year    2003
W         88
Name: 275, dtype: object)
(276, Team     CHW
Year    2003
W         86
Name: 276, dtype: object)
(277, Team     CIN
Year    2003
W         69
Name: 277, dtype: object)
(278, Team     CLE
Year    2003
W         68
Name: 278, dtype: object)
(279, Team     COL
Year    2003
W         74
Name: 279, dtype: object)
(280, Team     DET
Year    2003
W         43
Name: 280, dtype: object)
(281, Team     FLA
Year    2003
W         91
Name: 281, dtype: object)
(282, Team     HOU
Year    2003
W         87
Name: 282, dtype: object)
(283, Team     KCR
Year    2003
W         83
Name: 283, dtype: object)
(284, Team     LAD
Year    2003
W         85

In [47]:
%%timeit -r1 -n1
for row_namedtuple in team_wins_df.itertuples():
    print(row_namedtuple)

Pandas(Index=0, Team='ARI', Year=2012, W=81)
Pandas(Index=1, Team='ATL', Year=2012, W=94)
Pandas(Index=2, Team='BAL', Year=2012, W=93)
Pandas(Index=3, Team='BOS', Year=2012, W=69)
Pandas(Index=4, Team='CHC', Year=2012, W=61)
Pandas(Index=5, Team='CHW', Year=2012, W=85)
Pandas(Index=6, Team='CIN', Year=2012, W=97)
Pandas(Index=7, Team='CLE', Year=2012, W=68)
Pandas(Index=8, Team='COL', Year=2012, W=64)
Pandas(Index=9, Team='DET', Year=2012, W=88)
Pandas(Index=10, Team='HOU', Year=2012, W=55)
Pandas(Index=11, Team='KCR', Year=2012, W=72)
Pandas(Index=12, Team='LAA', Year=2012, W=89)
Pandas(Index=13, Team='LAD', Year=2012, W=86)
Pandas(Index=14, Team='MIA', Year=2012, W=69)
Pandas(Index=15, Team='MIL', Year=2012, W=83)
Pandas(Index=16, Team='MIN', Year=2012, W=66)
Pandas(Index=17, Team='NYM', Year=2012, W=74)
Pandas(Index=18, Team='NYY', Year=2012, W=95)
Pandas(Index=19, Team='OAK', Year=2012, W=94)
Pandas(Index=20, Team='PHI', Year=2012, W=81)
Pandas(Index=21, Team='PIT', Year=2012, W=79)
Pandas(Index=22, Team='SDP', Year=2012, W=76)
Pandas(Index=23, Team='SEA', Year=2012, W=75)
Pandas(Index=24, Team='SFG', Year=2012, W=94)
Pandas(Index=25, Team='STL', Year=2012, W=88)
Pandas(Index=26, Team='TBR', Year=2012, W=90)
Pandas(Index=27, Team='TEX', Year=2012, W=93)
Pandas(Index=28, Team='TOR', Year=2012, W=73)
Pandas(Index=29, Team='WSN', Year=2012, W=98)
Pandas(Index=30, Team='ARI', Year=2011, W=94)
Pandas(Index=31, Team='ATL', Year=2011, W=89)
Pandas(Index=32, Team='BAL', Year=2011, W=69)
Pandas(Index=33, Team='BOS', Year=2011, W=90)
Pandas(Index=34, Team='CHC', Year=2011, W=71)
Pandas(Index=35, Team='CHW', Year=2011, W=79)
Pandas(Index=36, Team='CIN', Year=2011, W=79)
Pandas(Index=37, Team='CLE', Year=2011, W=80)
Pandas(Index=38, Team='COL', Year=2011, W=73)
Pandas(Index=39, Team='DET', Year=2011, W=95)
Pandas(Index=40, Team='FLA', Year=2011, W=72)
Pandas(Index=41, Team='HOU', Year=2011, W=56)
Pandas(Index=42, Team='KCR', Year=2011, W=71)
Pandas(Index=43, Team='LAA', Year=2011, W=86)
Pandas(Index=44, Team='LAD', Year=2011, W=82)
Pandas(Index=45, Team='MIL', Year=2011, W=96)
Pandas(Index=46, Team='MIN', Year=2011, W=63)
Pandas(Index=47, Team='NYM', Year=2011, W=77)
Pandas(Index=48, Team='NYY', Year=2011, W=97)
Pandas(Index=49, Team='OAK', Year=2011, W=74)
Pandas(Index=50, Team='PHI', Year=2011, W=102)
Pandas(Index=51, Team='PIT', Year=2011, W=72)
Pandas(Index=52, Team='SDP', Year=2011, W=71)
Pandas(Index=53, Team='SEA', Year=2011, W=67)
Pandas(Index=54, Team='SFG', Year=2011, W=86)
Pandas(Index=55, Team='STL', Year=2011, W=90)
Pandas(Index=56, Team='TBR', Year=2011, W=91)
Pandas(Index=57, Team='TEX', Year=2011, W=96)
Pandas(Index=58, Team='TOR', Year=2011, W=81)
Pandas(Index=59, Team='WSN', Year=2011, W=80)
Pandas(Index=60, Team='ARI', Year=2010, W=65)
Pandas(Index=61, Team='ATL', Year=2010, W=91)
Pandas(Index=62, Team='BAL', Year=2010, W=66)
Pandas(Index=63, Team='BOS', Year=2010, W=89)
Pandas(Index=64, Team='CHC', Year=2010, W=75)
Pandas(Index=65, Team='CHW', Year=2010, W=88)
Pandas(Index=66, Team='CIN', Year=2010, W=91)
Pandas(Index=67, Team='CLE', Year=2010, W=69)
Pandas(Index=68, Team='COL', Year=2010, W=83)
Pandas(Index=69, Team='DET', Year=2010, W=81)
Pandas(Index=70, Team='FLA', Year=2010, W=80)
Pandas(Index=71, Team='HOU', Year=2010, W=76)
Pandas(Index=72, Team='KCR', Year=2010, W=67)
Pandas(Index=73, Team='LAA', Year=2010, W=80)
Pandas(Index=74, Team='LAD', Year=2010, W=80)
Pandas(Index=75, Team='MIL', Year=2010, W=77)
Pandas(Index=76, Team='MIN', Year=2010, W=94)
Pandas(Index=77, Team='NYM', Year=2010, W=79)
Pandas(Index=78, Team='NYY', Year=2010, W=95)
Pandas(Index=79, Team='OAK', Year=2010, W=81)
Pandas(Index=80, Team='PHI', Year=2010, W=97)
Pandas(Index=81, Team='PIT', Year=2010, W=57)
Pandas(Index=82, Team='SDP', Year=2010, W=90)
Pandas(Index=83, Team='SEA', Year=2010, W=61)
Pandas(Index=84, Team='SFG', Year=2010, W=92)
Pandas(Index=85, Team='STL', Year=2010, W=86)
Pandas(Index=86, Team='TBR', Year=2010, W=96)
Pandas(Index=87, Team='TEX', Year=2010, W=90)
Pandas(Index=88, Team='TOR', Year=2010, W=85)
Pandas(Index=89, Team='WSN', Year=2010, W=69)
Pandas(Index=90, Team='ARI', Year=2009, W=70)
Pandas(Index=91, Team='ATL', Year=2009, W=86)
Pandas(Index=92, Team='BAL', Year=2009, W=64)
Pandas(Index=93, Team='BOS', Year=2009, W=95)
Pandas(Index=94, Team='CHC', Year=2009, W=83)
Pandas(Index=95, Team='CHW', Year=2009, W=79)
Pandas(Index=96, Team='CIN', Year=2009, W=78)
Pandas(Index=97, Team='CLE', Year=2009, W=65)
Pandas(Index=98, Team='COL', Year=2009, W=92)
Pandas(Index=99, Team='DET', Year=2009, W=86)
Pandas(Index=100, Team='FLA', Year=2009, W=87)
Pandas(Index=101, Team='HOU', Year=2009, W=74)
Pandas(Index=102, Team='KCR', Year=2009, W=65)
Pandas(Index=103, Team='LAA', Year=2009, W=97)
Pandas(Index=104, Team='LAD', Year=2009, W=95)
Pandas(Index=105, Team='MIL', Year=2009, W=80)
Pandas(Index=106, Team='MIN', Year=2009, W=87)
Pandas(Index=107, Team='NYM', Year=2009, W=70)
Pandas(Index=108, Team='NYY', Year=2009, W=103)
Pandas(Index=109, Team='OAK', Year=2009, W=75)
Pandas(Index=110, Team='PHI', Year=2009, W=93)
Pandas(Index=111, Team='PIT', Year=2009, W=62)
Pandas(Index=112, Team='SDP', Year=2009, W=75)
Pandas(Index=113, Team='SEA', Year=2009, W=85)
Pandas(Index=114, Team='SFG', Year=2009, W=88)
Pandas(Index=115, Team='STL', Year=2009, W=91)
Pandas(Index=116, Team='TBR', Year=2009, W=84)
Pandas(Index=117, Team='TEX', Year=2009, W=87)
Pandas(Index=118, Team='TOR', Year=2009, W=75)
Pandas(Index=119, Team='WSN', Year=2009, W=59)
Pandas(Index=120, Team='ARI', Year=2008, W=82)
Pandas(Index=121, Team='ATL', Year=2008, W=72)
Pandas(Index=122, Team='BAL', Year=2008, W=68)
Pandas(Index=123, Team='BOS', Year=2008, W=95)
Pandas(Index=124, Team='CHC', Year=2008, W=97)
Pandas(Index=125, Team='CHW', Year=2008, W=89)
Pandas(Index=126, Team='CIN', Year=2008, W=74)
Pandas(Index=127, Team='CLE', Year=2008, W=81)
Pandas(Index=128, Team='COL', Year=2008, W=74)
Pandas(Index=129, Team='DET', Year=2008, W=74)
Pandas(Index=130, Team='FLA', Year=2008, W=84)
Pandas(Index=131, Team='HOU', Year=2008, W=86)
Pandas(Index=132, Team='KCR', Year=2008, W=75)
Pandas(Index=133, Team='LAA', Year=2008, W=100)
Pandas(Index=134, Team='LAD', Year=2008, W=84)
Pandas(Index=135, Team='MIL', Year=2008, W=90)
Pandas(Index=136, Team='MIN', Year=2008, W=88)
Pandas(Index=137, Team='NYM', Year=2008, W=89)
Pandas(Index=138, Team='NYY', Year=2008, W=89)
Pandas(Index=139, Team='OAK', Year=2008, W=75)
Pandas(Index=140, Team='PHI', Year=2008, W=92)
Pandas(Index=141, Team='PIT', Year=2008, W=67)
Pandas(Index=142, Team='SDP', Year=2008, W=63)
Pandas(Index=143, Team='SEA', Year=2008, W=61)
Pandas(Index=144, Team='SFG', Year=2008, W=72)
Pandas(Index=145, Team='STL', Year=2008, W=86)
Pandas(Index=146, Team='TBR', Year=2008, W=97)
Pandas(Index=147, Team='TEX', Year=2008, W=79)
Pandas(Index=148, Team='TOR', Year=2008, W=86)
Pandas(Index=149, Team='WSN', Year=2008, W=59)
Pandas(Index=150, Team='ARI', Year=2007, W=90)
Pandas(Index=151, Team='ATL', Year=2007, W=84)
Pandas(Index=152, Team='BAL', Year=2007, W=69)
Pandas(Index=153, Team='BOS', Year=2007, W=96)
Pandas(Index=154, Team='CHC', Year=2007, W=85)
Pandas(Index=155, Team='CHW', Year=2007, W=72)
Pandas(Index=156, Team='CIN', Year=2007, W=72)
Pandas(Index=157, Team='CLE', Year=2007, W=96)
Pandas(Index=158, Team='COL', Year=2007, W=90)
Pandas(Index=159, Team='DET', Year=2007, W=88)
Pandas(Index=160, Team='FLA', Year=2007, W=71)
Pandas(Index=161, Team='HOU', Year=2007, W=73)
Pandas(Index=162, Team='KCR', Year=2007, W=69)
Pandas(Index=163, Team='LAA', Year=2007, W=94)
Pandas(Index=164, Team='LAD', Year=2007, W=82)
Pandas(Index=165, Team='MIL', Year=2007, W=83)
Pandas(Index=166, Team='MIN', Year=2007, W=79)
Pandas(Index=167, Team='NYM', Year=2007, W=88)
Pandas(Index=168, Team='NYY', Year=2007, W=94)
Pandas(Index=169, Team='OAK', Year=2007, W=76)
Pandas(Index=170, Team='PHI', Year=2007, W=89)
Pandas(Index=171, Team='PIT', Year=2007, W=68)
Pandas(Index=172, Team='SDP', Year=2007, W=89)
Pandas(Index=173, Team='SEA', Year=2007, W=88)
Pandas(Index=174, Team='SFG', Year=2007, W=71)
Pandas(Index=175, Team='STL', Year=2007, W=78)
Pandas(Index=176, Team='TBD', Year=2007, W=66)
Pandas(Index=177, Team='TEX', Year=2007, W=75)
Pandas(Index=178, Team='TOR', Year=2007, W=83)
Pandas(Index=179, Team='WSN', Year=2007, W=73)
Pandas(Index=180, Team='ARI', Year=2006, W=76)
Pandas(Index=181, Team='ATL', Year=2006, W=79)
Pandas(Index=182, Team='BAL', Year=2006, W=70)
Pandas(Index=183, Team='BOS', Year=2006, W=86)
Pandas(Index=184, Team='CHC', Year=2006, W=66)
Pandas(Index=185, Team='CHW', Year=2006, W=90)
Pandas(Index=186, Team='CIN', Year=2006, W=80)
Pandas(Index=187, Team='CLE', Year=2006, W=78)
Pandas(Index=188, Team='COL', Year=2006, W=76)
Pandas(Index=189, Team='DET', Year=2006, W=95)
Pandas(Index=190, Team='FLA', Year=2006, W=78)
Pandas(Index=191, Team='HOU', Year=2006, W=82)
Pandas(Index=192, Team='KCR', Year=2006, W=62)
Pandas(Index=193, Team='LAA', Year=2006, W=89)
Pandas(Index=194, Team='LAD', Year=2006, W=88)
Pandas(Index=195, Team='MIL', Year=2006, W=75)
Pandas(Index=196, Team='MIN', Year=2006, W=96)
Pandas(Index=197, Team='NYM', Year=2006, W=97)
Pandas(Index=198, Team='NYY', Year=2006, W=97)
Pandas(Index=199, Team='OAK', Year=2006, W=93)
Pandas(Index=200, Team='PHI', Year=2006, W=85)
Pandas(Index=201, Team='PIT', Year=2006, W=67)
Pandas(Index=202, Team='SDP', Year=2006, W=88)
Pandas(Index=203, Team='SEA', Year=2006, W=78)
Pandas(Index=204, Team='SFG', Year=2006, W=76)
Pandas(Index=205, Team='STL', Year=2006, W=83)
Pandas(Index=206, Team='TBD', Year=2006, W=61)
Pandas(Index=207, Team='TEX', Year=2006, W=80)
Pandas(Index=208, Team='TOR', Year=2006, W=87)
Pandas(Index=209, Team='WSN', Year=2006, W=71)
Pandas(Index=210, Team='ARI', Year=2005, W=77)
Pandas(Index=211, Team='ATL', Year=2005, W=90)
Pandas(Index=212, Team='BAL', Year=2005, W=74)
Pandas(Index=213, Team='BOS', Year=2005, W=95)
Pandas(Index=214, Team='CHC', Year=2005, W=79)
Pandas(Index=215, Team='CHW', Year=2005, W=99)
Pandas(Index=216, Team='CIN', Year=2005, W=73)
Pandas(Index=217, Team='CLE', Year=2005, W=93)
Pandas(Index=218, Team='COL', Year=2005, W=67)
Pandas(Index=219, Team='DET', Year=2005, W=71)
Pandas(Index=220, Team='FLA', Year=2005, W=83)
Pandas(Index=221, Team='HOU', Year=2005, W=89)
Pandas(Index=222, Team='KCR', Year=2005, W=56)
Pandas(Index=223, Team='LAA', Year=2005, W=95)
Pandas(Index=224, Team='LAD', Year=2005, W=71)
Pandas(Index=225, Team='MIL', Year=2005, W=81)
Pandas(Index=226, Team='MIN', Year=2005, W=83)
Pandas(Index=227, Team='NYM', Year=2005, W=83)
Pandas(Index=228, Team='NYY', Year=2005, W=95)
Pandas(Index=229, Team='OAK', Year=2005, W=88)
Pandas(Index=230, Team='PHI', Year=2005, W=88)
Pandas(Index=231, Team='PIT', Year=2005, W=67)
Pandas(Index=232, Team='SDP', Year=2005, W=82)
Pandas(Index=233, Team='SEA', Year=2005, W=69)
Pandas(Index=234, Team='SFG', Year=2005, W=75)
Pandas(Index=235, Team='STL', Year=2005, W=100)
Pandas(Index=236, Team='TBD', Year=2005, W=67)
Pandas(Index=237, Team='TEX', Year=2005, W=79)
Pandas(Index=238, Team='TOR', Year=2005, W=80)
Pandas(Index=239, Team='WSN', Year=2005, W=81)
Pandas(Index=240, Team='ANA', Year=2004, W=92)
Pandas(Index=241, Team='ARI', Year=2004, W=51)
Pandas(Index=242, Team='ATL', Year=2004, W=96)
Pandas(Index=243, Team='BAL', Year=2004, W=78)
Pandas(Index=244, Team='BOS', Year=2004, W=98)
Pandas(Index=245, Team='CHC', Year=2004, W=89)
Pandas(Index=246, Team='CHW', Year=2004, W=83)
Pandas(Index=247, Team='CIN', Year=2004, W=76)
Pandas(Index=248, Team='CLE', Year=2004, W=80)
Pandas(Index=249, Team='COL', Year=2004, W=68)
Pandas(Index=250, Team='DET', Year=2004, W=72)
Pandas(Index=251, Team='FLA', Year=2004, W=83)
Pandas(Index=252, Team='HOU', Year=2004, W=92)
Pandas(Index=253, Team='KCR', Year=2004, W=58)
Pandas(Index=254, Team='LAD', Year=2004, W=93)
Pandas(Index=255, Team='MIL', Year=2004, W=67)
Pandas(Index=256, Team='MIN', Year=2004, W=92)
Pandas(Index=257, Team='MON', Year=2004, W=67)
Pandas(Index=258, Team='NYM', Year=2004, W=71)
Pandas(Index=259, Team='NYY', Year=2004, W=101)
Pandas(Index=260, Team='OAK', Year=2004, W=91)
Pandas(Index=261, Team='PHI', Year=2004, W=86)
Pandas(Index=262, Team='PIT', Year=2004, W=72)
Pandas(Index=263, Team='SDP', Year=2004, W=87)
Pandas(Index=264, Team='SEA', Year=2004, W=63)
Pandas(Index=265, Team='SFG', Year=2004, W=91)
Pandas(Index=266, Team='STL', Year=2004, W=105)
Pandas(Index=267, Team='TBD', Year=2004, W=70)
Pandas(Index=268, Team='TEX', Year=2004, W=89)
Pandas(Index=269, Team='TOR', Year=2004, W=67)
Pandas(Index=270, Team='ANA', Year=2003, W=77)
Pandas(Index=271, Team='ARI', Year=2003, W=84)
Pandas(Index=272, Team='ATL', Year=2003, W=101)
Pandas(Index=273, Team='BAL', Year=2003, W=71)
Pandas(Index=274, Team='BOS', Year=2003, W=95)
Pandas(Index=275, Team='CHC', Year=2003, W=88)
Pandas(Index=276, Team='CHW', Year=2003, W=86)
Pandas(Index=277, Team='CIN', Year=2003, W=69)
Pandas(Index=278, Team='CLE', Year=2003, W=68)
Pandas(Index=279, Team='COL', Year=2003, W=74)
Pandas(Index=280, Team='DET', Year=2003, W=43)
Pandas(Index=281, Team='FLA', Year=2003, W=91)
Pandas(Index=282, Team='HOU', Year=2003, W=87)
Pandas(Index=283, Team='KCR', Year=2003, W=83)
Pandas(Index=284, Team='LAD', Year=2003, W=85)
Pandas(Index=285, Team='MIL', Year=2003, W=68)
Pandas(Index=286, Team='MIN', Year=2003, W=90)
Pandas(Index=287, Team='MON', Year=2003, W=83)
Pandas(Index=288, Team='NYM', Year=2003, W=66)
Pandas(Index=289, Team='NYY', Year=2003, W=101)
Pandas(Index=290, Team='OAK', Year=2003, W=96)
Pandas(Index=291, Team='PHI', Year=2003, W=86)
Pandas(Index=292, Team='PIT', Year=2003, W=75)
Pandas(Index=293, Team='SDP', Year=2003, W=64)
Pandas(Index=294, Team='SEA', Year=2003, W=93)
Pandas(Index=295, Team='SFG', Year=2003, W=100)
Pandas(Index=296, Team='STL', Year=2003, W=85)
Pandas(Index=297, Team='TBD', Year=2003, W=63)
Pandas(Index=298, Team='TEX', Year=2003, W=71)
Pandas(Index=299, Team='TOR', Year=2003, W=86)
Pandas(Index=300, Team='ANA', Year=2002, W=99)
Pandas(Index=301, Team='ARI', Year=2002, W=98)
Pandas(Index=302, Team='ATL', Year=2002, W=101)
Pandas(Index=303, Team='BAL', Year=2002, W=67)
Pandas(Index=304, Team='BOS', Year=2002, W=93)
Pandas(Index=305, Team='CHC', Year=2002, W=67)
Pandas(Index=306, Team='CHW', Year=2002, W=81)
Pandas(Index=307, Team='CIN', Year=2002, W=78)
Pandas(Index=308, Team='CLE', Year=2002, W=74)
Pandas(Index=309, Team='COL', Year=2002, W=73)
Pandas(Index=310, Team='DET', Year=2002, W=55)
Pandas(Index=311, Team='FLA', Year=2002, W=79)
Pandas(Index=312, Team='HOU', Year=2002, W=84)
Pandas(Index=313, Team='KCR', Year=2002, W=62)
Pandas(Index=314, Team='LAD', Year=2002, W=92)
Pandas(Index=315, Team='MIL', Year=2002, W=56)
Pandas(Index=316, Team='MIN', Year=2002, W=94)
Pandas(Index=317, Team='MON', Year=2002, W=83)
Pandas(Index=318, Team='NYM', Year=2002, W=75)
Pandas(Index=319, Team='NYY', Year=2002, W=103)
Pandas(Index=320, Team='OAK', Year=2002, W=103)
Pandas(Index=321, Team='PHI', Year=2002, W=80)
Pandas(Index=322, Team='PIT', Year=2002, W=72)
Pandas(Index=323, Team='SDP', Year=2002, W=66)
Pandas(Index=324, Team='SEA', Year=2002, W=93)
Pandas(Index=325, Team='SFG', Year=2002, W=95)
Pandas(Index=326, Team='STL', Year=2002, W=97)
Pandas(Index=327, Team='TBD', Year=2002, W=55)
Pandas(Index=328, Team='TEX', Year=2002, W=72)
Pandas(Index=329, Team='TOR', Year=2002, W=78)
Pandas(Index=330, Team='ANA', Year=2001, W=75)
Pandas(Index=331, Team='ARI', Year=2001, W=92)
Pandas(Index=332, Team='ATL', Year=2001, W=88)
Pandas(Index=333, Team='BAL', Year=2001, W=63)
Pandas(Index=334, Team='BOS', Year=2001, W=82)
Pandas(Index=335, Team='CHC', Year=2001, W=88)
Pandas(Index=336, Team='CHW', Year=2001, W=83)
Pandas(Index=337, Team='CIN', Year=2001, W=66)
Pandas(Index=338, Team='CLE', Year=2001, W=91)
Pandas(Index=339, Team='COL', Year=2001, W=73)
Pandas(Index=340, Team='DET', Year=2001, W=66)
Pandas(Index=341, Team='FLA', Year=2001, W=76)
Pandas(Index=342, Team='HOU', Year=2001, W=93)
Pandas(Index=343, Team='KCR', Year=2001, W=65)
Pandas(Index=344, Team='LAD', Year=2001, W=86)
Pandas(Index=345, Team='MIL', Year=2001, W=68)
Pandas(Index=346, Team='MIN', Year=2001, W=85)
Pandas(Index=347, Team='MON', Year=2001, W=68)
Pandas(Index=348, Team='NYM', Year=2001, W=82)
Pandas(Index=349, Team='NYY', Year=2001, W=95)
Pandas(Index=350, Team='OAK', Year=2001, W=102)
Pandas(Index=351, Team='PHI', Year=2001, W=86)
Pandas(Index=352, Team='PIT', Year=2001, W=62)
Pandas(Index=353, Team='SDP', Year=2001, W=79)
Pandas(Index=354, Team='SEA', Year=2001, W=116)
Pandas(Index=355, Team='SFG', Year=2001, W=90)
Pandas(Index=356, Team='STL', Year=2001, W=93)
Pandas(Index=357, Team='TBD', Year=2001, W=62)
Pandas(Index=358, Team='TEX', Year=2001, W=73)
Pandas(Index=359, Team='TOR', Year=2001, W=80)
Pandas(Index=360, Team='ANA', Year=2000, W=82)
Pandas(Index=361, Team='ARI', Year=2000, W=85)
Pandas(Index=362, Team='ATL', Year=2000, W=95)
Pandas(Index=363, Team='BAL', Year=2000, W=74)
Pandas(Index=364, Team='BOS', Year=2000, W=85)
Pandas(Index=365, Team='CHC', Year=2000, W=65)
Pandas(Index=366, Team='CHW', Year=2000, W=95)
Pandas(Index=367, Team='CIN', Year=2000, W=85)
Pandas(Index=368, Team='CLE', Year=2000, W=90)
Pandas(Index=369, Team='COL', Year=2000, W=82)
Pandas(Index=370, Team='DET', Year=2000, W=79)
Pandas(Index=371, Team='FLA', Year=2000, W=79)
Pandas(Index=372, Team='HOU', Year=2000, W=72)
Pandas(Index=373, Team='KCR', Year=2000, W=77)
Pandas(Index=374, Team='LAD', Year=2000, W=86)
Pandas(Index=375, Team='MIL', Year=2000, W=73)
Pandas(Index=376, Team='MIN', Year=2000, W=69)
Pandas(Index=377, Team='MON', Year=2000, W=67)
Pandas(Index=378, Team='NYM', Year=2000, W=94)
Pandas(Index=379, Team='NYY', Year=2000, W=87)
Pandas(Index=380, Team='OAK', Year=2000, W=91)
Pandas(Index=381, Team='PHI', Year=2000, W=65)
Pandas(Index=382, Team='PIT', Year=2000, W=69)
Pandas(Index=383, Team='SDP', Year=2000, W=76)
Pandas(Index=384, Team='SEA', Year=2000, W=91)
Pandas(Index=385, Team='SFG', Year=2000, W=97)
Pandas(Index=386, Team='STL', Year=2000, W=95)
Pandas(Index=387, Team='TBD', Year=2000, W=69)
Pandas(Index=388, Team='TEX', Year=2000, W=71)
Pandas(Index=389, Team='TOR', Year=2000, W=83)
Pandas(Index=390, Team='ANA', Year=1999, W=70)
Pandas(Index=391, Team='ARI', Year=1999, W=100)
Pandas(Index=392, Team='ATL', Year=1999, W=103)
Pandas(Index=393, Team='BAL', Year=1999, W=78)
Pandas(Index=394, Team='BOS', Year=1999, W=94)
Pandas(Index=395, Team='CHC', Year=1999, W=67)
Pandas(Index=396, Team='CHW', Year=1999, W=75)
Pandas(Index=397, Team='CIN', Year=1999, W=96)
Pandas(Index=398, Team='CLE', Year=1999, W=97)
Pandas(Index=399, Team='COL', Year=1999, W=72)
Pandas(Index=400, Team='DET', Year=1999, W=69)
Pandas(Index=401, Team='FLA', Year=1999, W=64)
Pandas(Index=402, Team='HOU', Year=1999, W=97)
Pandas(Index=403, Team='KCR', Year=1999, W=64)
Pandas(Index=404, Team='LAD', Year=1999, W=77)
Pandas(Index=405, Team='MIL', Year=1999, W=74)
Pandas(Index=406, Team='MIN', Year=1999, W=63)
Pandas(Index=407, Team='MON', Year=1999, W=68)
Pandas(Index=408, Team='NYM', Year=1999, W=97)
Pandas(Index=409, Team='NYY', Year=1999, W=98)
Pandas(Index=410, Team='OAK', Year=1999, W=87)
Pandas(Index=411, Team='PHI', Year=1999, W=77)
Pandas(Index=412, Team='PIT', Year=1999, W=78)
Pandas(Index=413, Team='SDP', Year=1999, W=74)
Pandas(Index=414, Team='SEA', Year=1999, W=79)
Pandas(Index=415, Team='SFG', Year=1999, W=86)
Pandas(Index=416, Team='STL', Year=1999, W=75)
Pandas(Index=417, Team='TBD', Year=1999, W=69)
Pandas(Index=418, Team='TEX', Year=1999, W=95)
Pandas(Index=419, Team='TOR', Year=1999, W=84)
Pandas(Index=420, Team='ANA', Year=1998, W=85)
Pandas(Index=421, Team='ARI', Year=1998, W=65)
Pandas(Index=422, Team='ATL', Year=1998, W=106)
Pandas(Index=423, Team='BAL', Year=1998, W=79)
Pandas(Index=424, Team='BOS', Year=1998, W=92)
Pandas(Index=425, Team='CHC', Year=1998, W=90)
Pandas(Index=426, Team='CHW', Year=1998, W=80)

The reason **.itertuples** is more efficient than **.iterrows** is due to the way each method stores its output. Since .iterrows returns each row's values as a pandas Series, there is a bit more overhead.

## 2.2. Pandas Alternative to Looping

In order to write efficient code, we want to avoid looping as much as possible. Therefore now we will explore an alternative to using **.iterrows** and **.itertuples** to perform calculations on a DataFrame.

We'll continue using the  baseball dataset. We will first create the **calc_run_diff** function. This function calculates a team's run differential for a given year by subtracting the team's total number of runs allowed from their total number of runs scored in a season.

In [48]:
def calc_run_diff(runs_scored, runs_allowed):
    run_diff = runs_scored - runs_allowed
    return run_diff

We'd like to create a new column in our baseball_df DataFrame called RD that stores each team's run differentials over the years. Previously we did this with a for loop using either .iterrows or .itertuples. Here, we'll use .iterrows as an example. Notice that we are iterating over baseball_df with a for loop, passing each row's RS and RA columns into our calc_run_diff function, and then appending each row's result to our run_diffs_iterrows list. This gives us our desired output, but it is not our most efficient option.

In [49]:
%%timeit
run_diffs_iterrows = []

for i,row in baseball_df.iterrows():
    run_diff = calc_run_diff(row['RS'], row['RA'])
    run_diffs_iterrows.append(run_diff)

baseball_df['RD'] = run_diffs_iterrows

87.8 ms ± 1.31 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

### Pandas.apply() Method

One alternative to using a loop to iterate over a DataFrame is to use pandas.apply method. This function acts like the map function. It takes a function as an input and applies this function to an entire DataFrame. Since we are working with tabular data, we must specify an axis that we would like our function to act on. Using a zero for the axis argument will apply our function on columns while using a one for the axis will apply our function on all rows. Just like the map function, pandas.apply method can be used with anonymous functions or lambdas. 

Let's walk through how'd we'd use the .apply method to calculate our run differentials. First, we call .apply on the baseball_df DataFrame. Then, we use a lambda function to iterate over the rows of the DataFrame. Notice that our argument for lambda is row (since we are applying to each row of the DataFrame). For every row, we grab the RS and RA columns and pass them to our calc_run_diff function. Lastly, we specify our axis to tell dot-apply that we want to iterate over rows instead of columns.

In [50]:
%%timeit
run_diffs_apply = baseball_df.apply(
    lambda row: calc_run_diff(row['RS'], row['RA']),
    axis=1)

baseball_df['RD'] = run_diffs_apply

30.7 ms ± 361 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

When we use the .apply method to calculate our run differentials, we don't need to use a for a loop. We can collect our run differentials directly into an object called run_diffs_apply. 

We can see that the .iterrows approach took about 321 milliseconds to complete. But, using the dot-apply method took only 45.2 milliseconds. A definite improvement!

### 2.3. Optimal Pandas Iterating

We've come a long way from our first .iloc approach for iterating over a DataFrame. Each approach we've discussed has really improved the performance. But, these approaches focus on performing calculations for each row of our DataFrame individually. Now we will explore some panda's internals that allows us to perform calculations more efficiently.

Since pandas is a library that is built on NumPy. This means that each pandas DataFrame we use can take advantage of the efficient characteristics of NumPy arrays discussed in the previous article. We discussed broadcasting and how it allows the NumPy arrays to vectorize operations, so they are performed on all elements of an object at once. This allows us to efficiently perform calculations over entire arrays. Just like NumPy, pandas are designed to vectorize calculations so that they operate on entire datasets at once (not just on a row-by-row basis). Let's explore this concept with some examples.

We'll continue to use the baseball_df DataFrame we have been using throughout the chapter. Since pandas are built on top of NumPy, we can grab any of these DataFrame column's values as a NumPy array using the dot-values method. Here, we are collecting the W column's values into a NumPy array called wins_np. When we print the type of wins_np, we see that it is, in fact, a NumPy array.

In [51]:
wins_np = baseball_df['W'].values
print(type(wins_np))

<class 'numpy.ndarray'>

We can see the contents of the array by printing it and verifying that it is the same as the W column from our DataFrame.

In [52]:
print(wins_np)

[ 81  94  93 ... 103  84  60]

The beauty of knowing that pandas are built on NumPy can be seen when taking advantage of a NumPy array's broadcasting abilities. Remember, this means we can vectorize our calculations, and perform them on entire arrays all at once! Instead of looping over a DataFrame, and treating each row independently, like we've done with .iterrows, .itertuples, and .apply, we can perform calculations on the underlying NumPy arrays of our baseball_df DataFrame. Here, we gather the RS and RA columns in our DataFrame as NumPy arrays, and use broadcasting to calculate run differentials all at once!

In [53]:
%%timeit

run_diffs_np = baseball_df['RS'].values - baseball_df['RA'].values
baseball_df['RD'] = run_diffs_np

162 µs ± 2.74 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

When we use NumPy arrays to perform our run differential calculations, we can see that our code becomes much more readable. Here, we can explicitly see how our run differentials are being calculated. Also when we time our NumPy arrays approach, we see that our run differential calculations take microseconds! All other approaches were reported in milliseconds. Our array approach is orders of magnitude faster than all previous approaches! It's clear that using a DataFrame's underlying NumPy arrays to perform calculations can help us gain some massive efficiencies.